.banner
	background: url("../img/header-banner.jpg")
	height: 60px
	overflow: hidden
	&-block
		display: flex
		justify-content: space-between
		align-items: center
		padding: 17px 0
		position: relative
	&-text
		font-family: $ROB
		color: $color-text
		font-size: 18px
		line-height: 27px
		padding-left: 150px
		span
			&:first-child
				color: #E31E24
	&-leaf
		position: absolute
		bottom: -4px
		left: -202px
	&-mite
		position: absolute
		bottom: 10px
		left: -20px
	&-close
		width: 16px
		height: 16px
		transition: 0.2s ease
		&:hover
			transform: rotate(180deg)

.header
	border-bottom: 1px solid #F2F2F2
	&-head
		padding: 15px 0
		background: #F5F5F5
		&__block
			position: relative
		&__btn
			position: absolute
			top: -15px
			left: 0
			display: inline-block
			padding: 12px 40px
			font-family: $R
			font-size: 15px
			line-height: 25px
			color: $white
			background: linear-gradient(90deg, #005AA5 0%, #6EC6D3 100%)
			border-bottom-left-radius: 5px
			border-bottom-right-radius: 5px
			text-decoration: none
			transition: 0.2s
			span
				font-family: $RB
			&:hover
				padding: 15px 40px
		&__nav
			display: flex
			justify-content: flex-end
			&-button
				font-family: $R
				font-size: 14px
				line-height: 16px
				color: #777777
				text-decoration: none
				margin-right: 50px
				transition: 0.2s
				border-bottom: 1px solid transparent
				&:hover
					border-bottom: 1px solid #777777
	&-city
		position: relative
		&__this
			display: flex
			align-items: center
			font-family: $R
			font-size: 14px
			line-height: 16px
			color: #005AA5
			text-decoration: none
			transition: 0.2s
			&:hover
				span
					border: none
			span
				height: 18px
				border-bottom: 1px dotted #005AA5
			svg
				margin-left: 5px
		&__question
			width: 240px
			background: #ffffff
			box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.24)
			border-radius: 8px
			padding: 15px 24px
			position: absolute
			top: 30px
			right: 0
			z-index: 99
			&:before
				position: absolute
				content: ''
				top: -8px
				right: 20px
				width: 15px
				height: 15px
				background: #ffffff
				transform: rotate(45deg)
			p
				margin-bottom: 15px
			span 
				font-family: $R
				font-size: 15px
				line-height: 25px
				font-feature-settings: 'pnum' on, 'lnum' on
				color: $color-text
				&:last-child
					color: #005AA5
			.btn
				color: #ffffff
				margin-right: 25px
		&__other-btn
			font-family: $R
			font-size: 15px
			line-height: 25px
			font-feature-settings: 'pnum' on, 'lnum' on
			color: #005AA5
			border-bottom: 1px dotted #005AA5
			text-decoration: none
			&:hover
				border: none
		&__choice
			display: none
			position: absolute
			top: -15px
			right: -40px
			width: 168px
			background: #F5F5F5
			box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.24)
			border-radius: 0px 0px 8px 8px
			padding: 10px 27px
			z-index: 99
			&-this
				display: block
				font-family: $R
				font-size: 14px
				line-height: 26px
				font-feature-settings: 'pnum' on, 'lnum' on
				color: #005AA5
				text-decoration: none
				margin-bottom: 20px
				span
					border-bottom: 1px dotted #005AA5
				svg
					transform: rotate(180deg)
					margin-left: 5px
			&-other
				font-family: $R
				font-size: 14px
				line-height: 26px
				font-feature-settings: 'pnum' on, 'lnum' on
				color: $color-text
				text-decoration: none
				&:hover
					color: #005AA5
	&-main
		padding: 25px 0
	&-block
		display: flex
		align-items: center
		justify-content: space-between
	&-search
		&__text
			margin-bottom: 15px
		span
			font-family: $R
			font-style: italic
			font-size: 15px
			line-height: 25px
			color: #8E8E8E
			
			&:nth-child(2)
				color: #E31E24
		.search
			width: 375px
	&-contacts
		a
			display: block
			font-family: $R
			font-size: 26px
			line-height: 27px
			color: $color-text
			font-feature-settings: 'pnum' on, 'lnum' on
			text-decoration: none
			margin-bottom: 5px
		span
			display: block
			text-align: right
			font-family: $R
			font-size: 13px
			line-height: 15px
			color: $label-text
	&-address
		display: flex
		flex-direction: column
		align-items: flex-end
		&__item
			display: block
			font-family: $R
			font-size: 15px
			line-height: 26px
			font-feature-settings: 'pnum' on, 'lnum' on
			color: $color-text
			text-decoration: none
			margin-bottom: 10px
			cursor: pointer
			position: relative
			&:last-child
				margin-bottom: 0
			span
				&:first-child
					margin-right: 10px
		&__btn
			display: none
			width: 193px
			position: absolute
			top: 26px
			right: 0
			font-family: $RM
			font-size: 16px
			line-height: 27px
			font-feature-settings: 'pnum' on, 'lnum' on
			color: #FFFFFF
			background: linear-gradient(180deg, #6EC6D3 0%, #129AAE 100%)
			box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.06)
			border-radius: 4px
			padding: 10px 15px
			text-decoration: none
			z-index: 98
			&:before
				position: absolute
				content: ''
				top: -16px
				right: 10px
				border: 8px solid transparent
				border-top: 8px solid #6DC6D3
				transform: rotate(180deg)
	&-mobile
		display: none
		&__banner
			background: linear-gradient(90deg, #F09819 0.49%, #EDDE5D 100%)
			padding: 10px 12px
			position: relative
			a
				position: absolute
				right: 12px
				top: 50%
				transform: translateY(-50%)
				cursor: pointer
			p
				font-family: $ROB
				font-size: 14px
				line-height: 18px
				color: #454B52
				margin: 0
				text-align: center
				span
					&:first-child
						color: #E31E24
.mobile-menu
	display: flex
	align-items: center
	padding: 15px 12px 18px
	position: relative
	&__logo
		height: 43px
	&__btn
		position: absolute
		right: 104px
		display: block
		width: 82px
		font-family: $RB
		font-size: 13px
		line-height: 15px
		color: #FFFFFF
		text-align: center
		background: linear-gradient(90deg, #005AA5 0%, #6EC6D3 100%)
		border-radius: 18px
		padding: 3px 0
		text-decoration: none
	&__phone
		position: absolute
		right: 58px
		display: flex
		justify-content: center
		align-items: center
		width: 36px
		height: 36px
		border-radius: 50%
		background: #F2F2F2
	&__search
		position: absolute
		right: 12px
		display: flex
		justify-content: center
		align-items: center
		width: 36px
		height: 36px
		border-radius: 50%
		background: #F2F2F2
	.mobile-nav
		position: absolute
		top: 0
		left: 0
		transform: translateX(-100vw)
		width: 100vw
		height: 100vh
		background: #ffffff
		z-index: 99
		transition: 0.3s
		.close
			padding: 20px 0
			border-bottom: 1px solid #E0E0E0
			&__btn
				display: flex
				justify-content: center
				align-items: center
				width: 36px
				height: 36px
				margin-left: 12px
		.city
			padding: 10px 0
			border-bottom: 1px solid #E0E0E0
			&__choice
				margin-left: 24px
				p
					display: flex
					font-family: Open Sans
					font-style: normal
					font-weight: normal
					font-size: 14px
					line-height: 30px
					color: #454B52
					margin: 0
					span
						display: flex
						align-items: center
						margin-left: 12px
						color: #005AA5
						svg
							margin-left: 10px
			&__address
				margin-left: 36px
				p
					margin-bottom: 7px
					font-feature-settings: 'pnum' on, 'lnum' on
					&:last-child
						margin-bottom: 0
					svg
						margin-right: 10px
		.nav
			padding: 13px 24px 20px
			&__item
				padding: 8px 0
				border-bottom: 1px solid #E0E0E0
				a
					display: block
					font-family: Montserrat
					font-style: normal
					font-weight: 500
					font-size: 15px
					line-height: 27px
					color: #454B52
					text-decoration: none
					position: relative
					svg
						position: absolute
						right: 0
						top: 50%
						transform: translateY(-50%)
						transition: 0.2s
			&__item-menu
				display: none
				padding-top: 10px
				margin-left: 15px
				a
					margin-bottom: 5px
		.link
			padding: 0px 24px 20px
			border-bottom: 1px solid #E0E0E0
			a
				display: block
				font-family: Open Sans
				font-style: normal
				font-weight: normal
				font-size: 14px
				line-height: 21px
				color: #777777
				text-decoration: none
				margin-bottom: 10px
				&:last-child
					margin-bottom: 0
		.phone
			padding: 20px 24px
			a
				font-family: Montserrat
				font-style: normal
				font-weight: 500
				font-size: 18px
				line-height: 27px
				color: #454B52
				margin-right: 15px
				text-decoration: none
			span
				font-family: Open Sans
				font-style: normal
				font-weight: normal
				font-size: 14px
				line-height: 21px
				color: #8E8E8E
.menu-active
	transform: translateX(0)!important
	transition: 0.3s
.rotate
	transform: rotate(180deg) !important
.burger
	margin-right: 17px
	&__icon
		display: flex
		justify-content: center
		align-items: center
		width: 36px
		height: 36px
		border-radius: 50%
		background: #005AA5
	
.navbar
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.06)
	&-block
		display: flex
		justify-content: center
	&-item
		cursor: pointer
		position: relative
		&:before
			position: absolute
			content: ''
			top: 50%
			right: 0
			transform: translateY(-50%)
			width: 1px
			height: 18px
			background: linear-gradient(180deg, rgba(0,100,170,1) 0%, rgba(160,70,120,1) 52.6%, rgba(220,30,30,1) 100%)
		&:last-child:before
			display: none
		&__link
			display: block
			font-family: $RM
			font-size: 16px
			line-height: 25px
			text-align: center
			color: $color-text
			text-decoration: none
			outline: none
			padding: 15px 40px
			transition: 0.2s
		&:hover 
			.navbar-item__link
				color: $color-btn
	&-list
		position: relative
		&__link
			z-index: 100
			position: relative
			span
				position: absolute
				display: flex
				justify-content: center
				align-items: center
				width: 9px
				height: 5px
				top: 48%
				right: 15px
				transform: translateY(-50%)
		&__block
			display: none
			position: absolute
			left: 0
			top: -16px
			background: #ffffff
			list-style: none
			padding: 60px 0 0
			box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.24)
			border-radius: 0px 0px 8px 8px
			z-index: 99
			li
				margin: 0
				a
					display: block
					font-family: $RM
					font-weight: 500
					font-size: 16px
					line-height: 19px
					color: $color-text
					text-decoration: none
					padding: 20px 40px
				&:hover
					background: #F2F2F2
				&:last-child
					border-radius: 0px 0px 8px 8px
.header-wholesale
	&__head
		padding: 9px 0
		background: #F5F5F5
		a
			font-family: $R
			font-size: 15px
			line-height: 30px
			color: #777777
			transition: 0.2s
			margin-right: 40px
			text-decoration: none
			border-bottom: 1px solid transparent
			&:hover
				border-bottom: 1px solid #777777
	&__block
		display: flex
		justify-content: space-between
		align-items: center
		padding: 25px 0
		.search
			width: 280px
	&__contacts
		span
			display: block
			font-family: $R
			font-size: 14px
			line-height: 27px
			text-align: right
			color: #8E8E8E
	&__phone
		display: block
		font-family: $R
		font-size: 26px
		line-height: 27px
		text-align: right
		font-feature-settings: 'pnum' on, 'lnum' on
		color: $color-text
		text-decoration: none
		margin: 5px 0
	&__mail
		display: flex
		align-items: center
		justify-content: flex-end
		text-align: right
		text-decoration: none
		&:hover
			span
				border: none
		span
			display: block
			font-family: $R
			font-size: 14px
			line-height: 20px
			color: #005AA5
			margin-left: 5px
			border-bottom: 0.5px solid #BDDEE9
			
@media (max-width: 1200px)
	.header
		&-search
			.search
				width: 285px
			&__text
				width: 185px
				
@media (max-width: 1100px)
	.navbar-item__link
		padding: 15px 35px
	.navbar-list__block 
		li
			padding: 15px 30px
	
@media (max-width: 999px)
	header
		display: none
	.header-mobile
		display: block