if(main)
	header
		.banner
			.container
				.banner-block
					.banner-leaf
						img(src="img/leaf.png", alt="")
					.banner-mite
						img(src="img/mite.png", alt="")
					.banner-text
						span Важно! 
						span Сезон вакцинации от клещевого энцефалита объявляем открытым
						
					a(href="#").banner-close
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
							<g clip-path="url(#clip0)">
								<path d="M9.41502 8.00083L15.7068 1.70903C16.0977 1.31846 16.0977 0.684746 15.7068 0.294177C15.3159 -0.0967263 14.6829 -0.0967263 14.292 0.294177L8.00017 6.58598L1.70803 0.294177C1.31713 -0.0967263 0.68408 -0.0967263 0.293177 0.294177C-0.0977257 0.684746 -0.0977257 1.31846 0.293177 1.70903L6.58531 8.00083L0.293177 14.2926C-0.0977257 14.6832 -0.0977257 15.3169 0.293177 15.7075C0.488629 15.9026 0.744783 16.0003 1.0006 16.0003C1.25643 16.0003 1.51258 15.9026 1.70803 15.7072L8.00017 9.41535L14.292 15.7072C14.4874 15.9026 14.7436 16.0003 14.9994 16.0003C15.2552 16.0003 15.5114 15.9026 15.7068 15.7072C16.0977 15.3166 16.0977 14.6829 15.7068 14.2923L9.41502 8.00083Z" fill="#484848"/>
							</g>
							<defs>
								<clipPath id="clip0">
									<rect width="16" height="16" fill="white"/>
								</clipPath>
							</defs>
						</svg>
		.header
			.header-head
				.container
					.header-head__block
						a(href="#").header-head__btn Купить вакцины / иммунопрепараты 
							span оптом
				
					