if(main)
	header
		.banner
			.container
				.banner-block
					.banner-leaf
						img(src="img/leaf.png", alt="")
					.banner-mite
						img(src="img/mite.png", alt="")
					.banner-text
						span Важно! 
						span Сезон вакцинации от клещевого энцефалита объявляем открытым
						
					a(href="#").banner-close
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
							<g clip-path="url(#clip0)">
								<path d="M9.41502 8.00083L15.7068 1.70903C16.0977 1.31846 16.0977 0.684746 15.7068 0.294177C15.3159 -0.0967263 14.6829 -0.0967263 14.292 0.294177L8.00017 6.58598L1.70803 0.294177C1.31713 -0.0967263 0.68408 -0.0967263 0.293177 0.294177C-0.0977257 0.684746 -0.0977257 1.31846 0.293177 1.70903L6.58531 8.00083L0.293177 14.2926C-0.0977257 14.6832 -0.0977257 15.3169 0.293177 15.7075C0.488629 15.9026 0.744783 16.0003 1.0006 16.0003C1.25643 16.0003 1.51258 15.9026 1.70803 15.7072L8.00017 9.41535L14.292 15.7072C14.4874 15.9026 14.7436 16.0003 14.9994 16.0003C15.2552 16.0003 15.5114 15.9026 15.7068 15.7072C16.0977 15.3166 16.0977 14.6829 15.7068 14.2923L9.41502 8.00083Z" fill="#484848"/>
							</g>
							<defs>
								<clipPath id="clip0">
									<rect width="16" height="16" fill="white"/>
								</clipPath>
							</defs>
						</svg>
		.header
			.header-head
				.container
					.header-head__block
						a(href="#").header-head__btn Купить вакцины / иммунопрепараты 
							span оптом
						.header-head__nav
							a(href="#") Страховым компаниям
							a(href="#") Клинические исследования
							.header-city
								a(href="#").header-city__this Новосибирск 
									span
										<svg xmlns="http://www.w3.org/2000/svg" width="9" height="5" viewBox="0 0 9 5" fill="none">
											<path d="M1 1L4.5 4L8 1" stroke="#454B52"/>
										</svg>
			.header-main
				.container
					.header-block
						a(href="#").header-logo
							img(src="img/logo.png", alt="")
						.header-search
							.header-search__text
								span Вакцинальные центры. Работаем уже 
								span 23 
								span года
							.search
								input(type="text" placeholder="Поиск")
								a(href="#")
									<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
										<path d="M12.5861 13.1688L17.4173 18M14.9253 7.96267C14.9253 11.808 11.808 14.9253 7.96267 14.9253C4.11729 14.9253 1 11.808 1 7.96267C1 4.11729 4.11729 1 7.96267 1C11.808 1 14.9253 4.11729 14.9253 7.96267Z" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
						.header-contacts
							a(href="#") 8 800 555 8409
							span бесплатно по России
						.header-address 
							a(href="#")
								span
									<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
										<path d="M4 1V3.87097H0.967741C0.433273 3.87097 0 4.30424 0 4.83871C0 5.37318 0.433273 5.80645 0.967741 5.80645H4V9C4 9.55228 4.44772 10 5 10C5.55228 10 6 9.55228 6 9V5.80645H9.03226C9.56673 5.80645 10 5.37318 10 4.83871C10 4.30424 9.56673 3.87097 9.03226 3.87097H6V1C6 0.447715 5.55228 0 5 0C4.44772 0 4 0.447716 4 1Z" fill="#E31E24"/>
									</svg>
								span Немировича-Данченко, 165, оф. 2
							a(href="#")
								span
									<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
										<path d="M4 1V3.87097H0.967741C0.433273 3.87097 0 4.30424 0 4.83871C0 5.37318 0.433273 5.80645 0.967741 5.80645H4V9C4 9.55228 4.44772 10 5 10C5.55228 10 6 9.55228 6 9V5.80645H9.03226C9.56673 5.80645 10 5.37318 10 4.83871C10 4.30424 9.56673 3.87097 9.03226 3.87097H6V1C6 0.447715 5.55228 0 5 0C4.44772 0 4 0.447716 4 1Z" fill="#E31E24"/>
									</svg>
								span Крылова, 34
		nav
			.navbar
				.container
					.navbar-block
						.navbar-item
							a(href="#") Вакцины
						.navbar-item
							a(href="#") Инфекции
						.navbar-item
							a(href="#") Цены
						.navbar-item
							a(href="#") Вакцинация юр.лиц
						.navbar-item
							a(href="#") Блог
						.navbar-item.navbar-list
							a(href="#") О компании
								span
									<svg xmlns="http://www.w3.org/2000/svg" width="9" height="5" viewBox="0 0 9 5" fill="none">
										<path d="M1 1L4.5 4L8 1" stroke="#454B52"/>
									</svg>