.record#record
	.record-step
		span._title Шаг 1.<br>Выберите удобный центр
		span._close(data-izimodal-close="#record")
			<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0.239648 15.7614C0.398869 15.9218 0.608254 16.0014 0.817639 16.0014C1.02702 16.0014 1.23641 15.9218 1.39563 15.7614L7.99976 9.15731L14.6044 15.7614C14.7636 15.9217 14.973 16.0013 15.1824 16.0013C15.3917 16.0013 15.6011 15.9217 15.7604 15.7625C16.0799 15.443 16.0799 14.9239 15.7604 14.6043L9.15654 8.00053L15.7604 1.39672C16.0799 1.07719 16.0799 0.559179 15.7604 0.239648C15.4408 -0.0798828 14.9228 -0.0798828 14.6033 0.239648L7.99947 6.84346L1.39672 0.240712C1.07719 -0.0788195 0.559179 -0.0788195 0.239648 0.240712C-0.0798828 0.560243 -0.0798828 1.07825 0.239648 1.39778L6.84265 8.00028L0.239648 14.6033C-0.0798828 14.9228 -0.0798828 15.4419 0.239648 15.7614Z" fill="white"/>
			</svg>
		form._form(action="#")
			.checkbox.record-form__address
				input(type="radio" name="record_address" id="record_address1" checked)
				label(for="record_address1") Немировича-Данченко, 165, оф. 2
			.checkbox.record-form__address
				input(type="radio" name="record_address" id="record_address2")
				label(for="record_address2") Крылова, 34
			._map
				<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa5669194a2b3db9363c0691415f842ea0e9d080a0ddefeb67b5e2c560086c1a9&amp;width=578&amp;height=264&amp;lang=ru_RU&amp;scroll=false"></script>
			a.btn.next_step(href="#") Далее
	.record-step.step_none
		span._title Шаг 2.<br>Введите свои данные
		span._close(data-izimodal-close="#record")
			<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0.239648 15.7614C0.398869 15.9218 0.608254 16.0014 0.817639 16.0014C1.02702 16.0014 1.23641 15.9218 1.39563 15.7614L7.99976 9.15731L14.6044 15.7614C14.7636 15.9217 14.973 16.0013 15.1824 16.0013C15.3917 16.0013 15.6011 15.9217 15.7604 15.7625C16.0799 15.443 16.0799 14.9239 15.7604 14.6043L9.15654 8.00053L15.7604 1.39672C16.0799 1.07719 16.0799 0.559179 15.7604 0.239648C15.4408 -0.0798828 14.9228 -0.0798828 14.6033 0.239648L7.99947 6.84346L1.39672 0.240712C1.07719 -0.0788195 0.559179 -0.0788195 0.239648 0.240712C-0.0798828 0.560243 -0.0798828 1.07825 0.239648 1.39778L6.84265 8.00028L0.239648 14.6033C-0.0798828 14.9228 -0.0798828 15.4419 0.239648 15.7614Z" fill="white"/>
			</svg>
		form._form(action="#")
			.record-form__FIO
				.input.record-form__name
					input(type="text" class="field" id="record_name")
					label(for="record_name") Фамилия
				.input.record-form__name
					input(type="text" class="field" id="record_surname")
					label(for="record_surname") Имя
				.input.record-form__name
					input(type="text" class="field" id="record_thirdName")
					label(for="record_thirdName") Отчество
			.input.record-form__born
				input(type="text" class="field" id="record_born")
				label(for="record_born") Дата рождения
			.input.record-form__parent
				input(type="text" class="field" id="record_parent")
				label(for="record_parent") Представитель
				span Если пациенту меньше 14 лет, укажите ФИО его представителя
			.record-form__contacts
				.input.record-form__contact
					input(type="text" class="field" id="record_phone")
					label(for="record_phone") Контактный телефон
				.input.record-form__contact
					input(type="text" class="field" id="record_mail")
					label(for="record_mail") Email для связи
			.input.record-form__other
				input(type="text" class="field" id="record_other")
				label(for="record_other") Дополнительная информация
			.checkbox.record-form__check
				input(type="checkbox" id="record_check")
				label(for="record_check") Я согласен с политикой конфиденциальности и пользовательским соглашением
			.record-form__btns
				a(href="#").btn-back Назад
				a(href="#").btn-submit Отправить заявку
	.record-step.step_none
		span._title Вы записаны!
		span._close(data-izimodal-close="#record")
			<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0.239648 15.7614C0.398869 15.9218 0.608254 16.0014 0.817639 16.0014C1.02702 16.0014 1.23641 15.9218 1.39563 15.7614L7.99976 9.15731L14.6044 15.7614C14.7636 15.9217 14.973 16.0013 15.1824 16.0013C15.3917 16.0013 15.6011 15.9217 15.7604 15.7625C16.0799 15.443 16.0799 14.9239 15.7604 14.6043L9.15654 8.00053L15.7604 1.39672C16.0799 1.07719 16.0799 0.559179 15.7604 0.239648C15.4408 -0.0798828 14.9228 -0.0798828 14.6033 0.239648L7.99947 6.84346L1.39672 0.240712C1.07719 -0.0788195 0.559179 -0.0788195 0.239648 0.240712C-0.0798828 0.560243 -0.0798828 1.07825 0.239648 1.39778L6.84265 8.00028L0.239648 14.6033C-0.0798828 14.9228 -0.0798828 15.4419 0.239648 15.7614Z" fill="white"/>
			</svg>
		.record-info
			p
				span Дата:
				span 11 апреля 2019 (четверг) в 9:30
			p
				span Адрес:
				span ул. Немировича-Данченко, 165, оф. 202
			p
				span Прививка:
				span Название прививки
			p
				span Стоимость:
				span 560 руб.
		span.record-thanks Спасибо за доверие!
.modal-partner#partner
	._block
		span._title Стань партнером
		span._close(data-izimodal-close="#partner")
			<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0.239648 15.7614C0.398869 15.9218 0.608254 16.0014 0.817639 16.0014C1.02702 16.0014 1.23641 15.9218 1.39563 15.7614L7.99976 9.15731L14.6044 15.7614C14.7636 15.9217 14.973 16.0013 15.1824 16.0013C15.3917 16.0013 15.6011 15.9217 15.7604 15.7625C16.0799 15.443 16.0799 14.9239 15.7604 14.6043L9.15654 8.00053L15.7604 1.39672C16.0799 1.07719 16.0799 0.559179 15.7604 0.239648C15.4408 -0.0798828 14.9228 -0.0798828 14.6033 0.239648L7.99947 6.84346L1.39672 0.240712C1.07719 -0.0788195 0.559179 -0.0788195 0.239648 0.240712C-0.0798828 0.560243 -0.0798828 1.07825 0.239648 1.39778L6.84265 8.00028L0.239648 14.6033C-0.0798828 14.9228 -0.0798828 15.4419 0.239648 15.7614Z" fill="#005AA5"/>
			</svg>
		form(action="#")
			.input._input
				input(type="text" class="field" id="partner_name")
				label(for="partner_name") Название компании
			.input._input
				input(type="text" class="field" id="partner_email")
				label(for="partner_email") Email для связи
			.input._input
				input(type="text" class="field" id="partner_phone")
				label(for="partner_phone") Телефон для связи
			.input._input
				input(type="text" class="field" id="partner_info")
				label(for="partner_info") Расскажите кратко о вашей компании
			.checkbox.partner-form__check
				input(type="checkbox" id="partner_check")
				label(for="partner_check") Я согласен с политикой конфиденциальности и пользовательским соглашением
			a(href="#").btn._btn Отправить
.modal-question#question
	._block
		span._title Задайте свой вопрос
		span._subtitle Введите контактные данные ниже и мы ответим Вам в течение ближайших 24 часов (в рабочие дни)
		span._close(data-izimodal-close="#question")
			<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0.239648 15.7614C0.398869 15.9218 0.608254 16.0014 0.817639 16.0014C1.02702 16.0014 1.23641 15.9218 1.39563 15.7614L7.99976 9.15731L14.6044 15.7614C14.7636 15.9217 14.973 16.0013 15.1824 16.0013C15.3917 16.0013 15.6011 15.9217 15.7604 15.7625C16.0799 15.443 16.0799 14.9239 15.7604 14.6043L9.15654 8.00053L15.7604 1.39672C16.0799 1.07719 16.0799 0.559179 15.7604 0.239648C15.4408 -0.0798828 14.9228 -0.0798828 14.6033 0.239648L7.99947 6.84346L1.39672 0.240712C1.07719 -0.0788195 0.559179 -0.0788195 0.239648 0.240712C-0.0798828 0.560243 -0.0798828 1.07825 0.239648 1.39778L6.84265 8.00028L0.239648 14.6033C-0.0798828 14.9228 -0.0798828 15.4419 0.239648 15.7614Z" fill="#005AA5"/>
			</svg>
		form(action="#")
			.input._input
				input(type="text" class="field" id="question_name")
				label(for="question_name") Имя
			.input._input
				input(type="text" class="field" id="question_mail")
				label(for="question_mail") Email для связи
			.input._input
				input(type="text" class="field" id="question_phone")
				label(for="question_phone") Телефон
			.input._input
				input(type="text" class="field" id="question_text")
				label(for="question_text") Ваш вопрос
			.checkbox.question-form__check
				input(type="checkbox" id="question_check")
				label(for="question_check") Я согласен с политикой конфиденциальности и пользовательским соглашением
			a.btn._btn(href="#" data-izimodal-open="#question_succsess" data-izimodal-transitionin="fadeInDown") Отправить вопрос
.modal-question#question_succsess
	._block
		span._title Мы получили ваш вопрос
		span._subtitle Мы свяжемся с вами  в течение ближайших 24 часов (в рабочие дни) для озвучивания актуальной стоимости с учетом индивидуальной скидки для вас на объем
		span._close(data-izimodal-close="#question")
			<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0.239648 15.7614C0.398869 15.9218 0.608254 16.0014 0.817639 16.0014C1.02702 16.0014 1.23641 15.9218 1.39563 15.7614L7.99976 9.15731L14.6044 15.7614C14.7636 15.9217 14.973 16.0013 15.1824 16.0013C15.3917 16.0013 15.6011 15.9217 15.7604 15.7625C16.0799 15.443 16.0799 14.9239 15.7604 14.6043L9.15654 8.00053L15.7604 1.39672C16.0799 1.07719 16.0799 0.559179 15.7604 0.239648C15.4408 -0.0798828 14.9228 -0.0798828 14.6033 0.239648L7.99947 6.84346L1.39672 0.240712C1.07719 -0.0788195 0.559179 -0.0788195 0.239648 0.240712C-0.0798828 0.560243 -0.0798828 1.07825 0.239648 1.39778L6.84265 8.00028L0.239648 14.6033C-0.0798828 14.9228 -0.0798828 15.4419 0.239648 15.7614Z" fill="#005AA5"/>
			</svg>
		span._thanks Спасибо за доверие!
.modal-price#price
	._block
		span._title Запрос стоимости
		span._subtitle Введите контактные данные ниже и мы свяжемся с вами  в течение ближайших 24 часов (в рабочие дни) для озвучивания актуальной стоимости с учетом индивидуальной скидки для вас на объем
		span._close(data-izimodal-close="#question")
			<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0.239648 15.7614C0.398869 15.9218 0.608254 16.0014 0.817639 16.0014C1.02702 16.0014 1.23641 15.9218 1.39563 15.7614L7.99976 9.15731L14.6044 15.7614C14.7636 15.9217 14.973 16.0013 15.1824 16.0013C15.3917 16.0013 15.6011 15.9217 15.7604 15.7625C16.0799 15.443 16.0799 14.9239 15.7604 14.6043L9.15654 8.00053L15.7604 1.39672C16.0799 1.07719 16.0799 0.559179 15.7604 0.239648C15.4408 -0.0798828 14.9228 -0.0798828 14.6033 0.239648L7.99947 6.84346L1.39672 0.240712C1.07719 -0.0788195 0.559179 -0.0788195 0.239648 0.240712C-0.0798828 0.560243 -0.0798828 1.07825 0.239648 1.39778L6.84265 8.00028L0.239648 14.6033C-0.0798828 14.9228 -0.0798828 15.4419 0.239648 15.7614Z" fill="#005AA5"/>
			</svg>
		form(action="#")
			.input._input
				input(type="text" class="field" id="price_name")
				label(for="price_name") Имя
			.input._input
				input(type="text" class="field" id="price_mail")
				label(for="price_mail") Email для связи
			.input._input
				input(type="text" class="field" id="price_phone")
				label(for="price_phone") Телефон
			.checkbox.price-form__check
				input(type="checkbox" id="price_check")
				label(for="price_check") Я согласен с политикой конфиденциальности и пользовательским соглашением
			a.btn._btn(href="#") Получить прайс-лист
.info-partner#infoPartner
	._block
		span._close(data-izimodal-close="#question")
			<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0.239648 15.7614C0.398869 15.9218 0.608254 16.0014 0.817639 16.0014C1.02702 16.0014 1.23641 15.9218 1.39563 15.7614L7.99976 9.15731L14.6044 15.7614C14.7636 15.9217 14.973 16.0013 15.1824 16.0013C15.3917 16.0013 15.6011 15.9217 15.7604 15.7625C16.0799 15.443 16.0799 14.9239 15.7604 14.6043L9.15654 8.00053L15.7604 1.39672C16.0799 1.07719 16.0799 0.559179 15.7604 0.239648C15.4408 -0.0798828 14.9228 -0.0798828 14.6033 0.239648L7.99947 6.84346L1.39672 0.240712C1.07719 -0.0788195 0.559179 -0.0788195 0.239648 0.240712C-0.0798828 0.560243 -0.0798828 1.07825 0.239648 1.39778L6.84265 8.00028L0.239648 14.6033C-0.0798828 14.9228 -0.0798828 15.4419 0.239648 15.7614Z" fill="#005AA5"/>
			</svg>
		._image
			img(src="img/microgen.jpg", alt="")
		h3 АО «НПО «Микроген»
		.info-partner__text
			p История «Микроген» напрямую связана с истоками русской иммунологической науки и насчитывает более 100 лет.
			p Научно-производственное объединение «Микроген» образовано в результате слияния государственных предприятий, производящих медицинские иммунобиологические препараты и другие лекарственные средства.
			p В 2017 году предприятие, ранее учредителем которого выступало Министерство здравоохранения РФ, было преобразовано в акционерное общество.
			p Сегодня АО «НПО «Микроген» – это:
			ul
				li 9 производственных площадок;
				li разработчик уникальных отечественных лекарственных средств; 
				li более 250 наименований выпускаемой продукции, более 40% – вакцины и анатоксины;
				li основной производитель и поставщик 70 % прививок национального календаря РФ;
				li единственный производитель лечебных бактериофагов.
			p ООО «АСКО-МЕД-ПЛЮС» сотрудничает с «Микроген» со времен своего основания.
		span Стань нашим партнером!
		a.btn._btn(href="#") Начать сотрудничество
