.index
	._title 
		img(src="img/logo.png", alt="")
	ul._list
		li
			a(href="./main.html") Главная страница
		li
			a(href="./test-page.html") Тестовая страница
		li
			a(href="./product.html") Карточка с товаром
		li
			a(href="#") Четвертая страница
		li
			a(href="#") Пятая страница
		li
			a(href="#") Шестая страница
		li
			a(href="#") Седьмая страница
		li
			a(href="#") Восьмая страница
		li
			a(href="#") Девятая страница
		li
			a(href="#") Десятая страница