.index
	._title 
		img(src="img/logo.png", alt="")
	ul._list
		li
			a(href="./main.html") Главная страница
		li
			a(href="./test-page.html") Тестовая страница
		li
			a(href="./product.html") Карточка с товаром
		li
			a(href="./info.html") Информация
		li
			a(href="./blog.html") Полезное
		li
			a(href="./specialists.html") Специалисты
		li
			a(href="./centers.html") Центры
		li
			a(href="./faq.html") ЧАВ
		li
			a(href="#") Девятая страница
		li
			a(href="#") Десятая страница