extends ../views/layouts/default
block variables
	- var title = "Часто задаваемые вопросы";
	- var main = true;
	- var wholesale = false;

block content
	main
		.main
			.breadcrumbs
				.container
					.breadcrumbs-item
						a(href="#") Главная
						span Вопросы
			.faqs
				.container  
					.faqs-block
						span.faqs-title Часто задаваемые вопросы
						.faq-boxes
							.faq-box
								.faq-box__button
									.faq-box__plus
										img(src="img/plus.png", alt="")
									.faq-box__minus 
										img(src="img/minus.png", alt="")
									span.faq-box__name Мне подходит данный вариант вакцины, если мне уже больше 70 лет?
								.faq-box__content
									span Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.
							.faq-box
								.faq-box__button
									.faq-box__plus
										img(src="img/plus.png", alt="")
									.faq-box__minus 
										img(src="img/minus.png", alt="")
									span.faq-box__name Мне подходит данный вариант вакцины, если мне уже больше 70 лет?
								.faq-box__content
									span Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.
							.faq-box
								.faq-box__button
									.faq-box__plus
										img(src="img/plus.png", alt="")
									.faq-box__minus 
										img(src="img/minus.png", alt="")
									span.faq-box__name Мне подходит данный вариант вакцины, если мне уже больше 70 лет?
								.faq-box__content
									span Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.
							.faq-box
								.faq-box__button
									.faq-box__plus
										img(src="img/plus.png", alt="")
									.faq-box__minus 
										img(src="img/minus.png", alt="")
									span.faq-box__name Мне подходит данный вариант вакцины, если мне уже больше 70 лет?
								.faq-box__content
									span Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.
						.services
							span.services-title Выберите необходимую услугу: 
							.services-boxes
								.services-box
									.services-box__image
										img(src="img/service1.jpg", alt="")
									.services-box__info
										span Страхование (сервисные программы)
										a(href="#").services-box__next Подробнее
											<svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
												<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
								.services-box
									.services-box__image
										img(src="img/service2.jpg", alt="")
									.services-box__info
										span Пройти вакцинацию
										a(href="#").services-box__next Подробнее
											<svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
												<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
								.services-box
									.services-box__image
										img(src="img/service3.jpg", alt="")
									.services-box__info
										span Иммуноглобулин при укусе клеща
										a(href="#").services-box__next Подробнее
											<svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
												<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>