extends ../views/layouts/default
block variables
	- var title = "Грипп";
	- var main = true;
	- var wholesale = false;

block content
	main
		.main
			.breadcrumbs
				.container
					.breadcrumbs-item
						a(href="#") Главная
						span Грипп
			.info
				.container
					.info-block
						.info-text
							span.info-title Грипп
							span.info-subtitle Острая респираторная инфекция, вызываемая вирусами типов А, В и С. Протекает остро, как правило, сопровождается высоким подъемом температуры, ознобом, кашлем. При не осложненных случаях в основном поражаются верхние дыхательные пути, чаще трахея. Возбудитель- пневмотропные РНК-содержащие вирусы. Отличительной особенностью вирусов гриппа является их высокая изменчивость, в связи с чем практически ежегодно появляются новые его подтипы, к которым у переболевших гриппом иммунитета нет. В связи с такой особенностью, вакцины для профилактики гриппа ежегодно готовится из актуальных для данного эпидсезона штаммов возбудителей. Источник инфекции – больной человек. Путь передачи - воздушно-капельный. Инкубационный период от нескольких часов до 3-х дней
						.info-image
							img(src="img/info-img.jpg", alt="")
			.drug
				.container
					.drug-block
						span.drug-title Выберите нужный препарат для вакцинации от гриппа
						span.drug-subtitle Если не уверены, что Вам подойдет, то свяжитесь с нами через единую справочную <b>8 800 555 8409</b> (по России бесплатно)
						.drug-items
							.recommendations-item
								.recommendations-item__image
									img(src="img/recomend-img1.jpg", alt="")
								.recommendations-item__info
									span.recommendations-title Адасель
									span.recommendations-subtitle Назначается в качестве превентивной меры в период общей профилактика гриппа
									.recommendations-price
										span.price 560
											span ₽
										a(href="#").recommendations-more.animBtn Подробнее
											<svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
												<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
							.recommendations-item
								.recommendations-item__image
									img(src="img/recomend-img2.jpg", alt="")
								.recommendations-item__info
									span.recommendations-title Хаврикс
									span.recommendations-subtitle Назначается в качестве превентивной меры в период общей профилактика гриппа
									.recommendations-price
										span.price 560
											span ₽
										a(href="#").recommendations-more.animBtn Подробнее
											<svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
												<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
							.recommendations-item
								.recommendations-item__image
									img(src="img/recomend-img3.jpg", alt="")
								.recommendations-item__info
									span.recommendations-title Гриппол
									span.recommendations-subtitle Назначается в качестве превентивной меры в период общей профилактика гриппа
									.recommendations-price
										span.price 560
											span ₽
										a(href="#").recommendations-more.animBtn Подробнее
											<svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
												<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
							.recommendations-item
								.recommendations-item__image
									img(src="img/recomend-img4.jpg", alt="")
								.recommendations-item__info
									span.recommendations-title Инфанрикс
									span.recommendations-subtitle Назначается в качестве превентивной меры в период общей профилактика гриппа
									.recommendations-price
										span.price 560
											span ₽
										a(href="#").recommendations-more.animBtn Подробнее
											<svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
												<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
							.recommendations-item
								.recommendations-item__image
									img(src="img/recomend-img1.jpg", alt="")
								.recommendations-item__info
									span.recommendations-title Адасель
									span.recommendations-subtitle Назначается в качестве превентивной меры в период общей профилактика гриппа
									.recommendations-price
										span.price 560
											span ₽
										a(href="#").recommendations-more.animBtn Подробнее
											<svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
												<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
							.recommendations-item
								.recommendations-item__image
									img(src="img/recomend-img2.jpg", alt="")
								.recommendations-item__info
									span.recommendations-title Хаврикс
									span.recommendations-subtitle Назначается в качестве превентивной меры в период общей профилактика гриппа
									.recommendations-price
										span.price 560
											span ₽
										a(href="#").recommendations-more.animBtn Подробнее
											<svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
												<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
							.recommendations-item
								.recommendations-item__image
									img(src="img/recomend-img3.jpg", alt="")
								.recommendations-item__info
									span.recommendations-title Гриппол
									span.recommendations-subtitle Назначается в качестве превентивной меры в период общей профилактика гриппа
									.recommendations-price
										span.price 560
											span ₽
										a(href="#").recommendations-more.animBtn Подробнее
											<svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
												<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
							.recommendations-item
								.recommendations-item__image
									img(src="img/recomend-img4.jpg", alt="")
								.recommendations-item__info
									span.recommendations-title Инфанрикс
									span.recommendations-subtitle Назначается в качестве превентивной меры в период общей профилактика гриппа
									.recommendations-price
										span.price 560
											span ₽
										a(href="#").recommendations-more.animBtn Подробнее
											<svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
												<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
