extends ../views/layouts/default
block variables
	- var title = "Страховым компаниям"
	- var main = false;
	- var wholesale = true;
	
block content
	main
		.breadcrumbs
			.container
				.breadcrumbs-item
					a(href="#") Главная
					span О компании
		.insurance
			.container
				.insurance-block
					h1 Страховым компаниям
					span._subtitle Сервисные программы профилактики клещевых инфекций по ДМС
					span._choice Выберите нужную:
					.insurance-boxes
						.insurance-box
							._image
								img(src="img/insurance1.jpg", alt="")
							a._link(href="#") www.imkart.ru
							ul.succsess-list
								li
									p Прямой доступ застрахованного к получению услуги;
								li
									p Основной документ для обращения – Иммунокарта;
								li
									p Фиксированная стоимость услуги для СК;
								li
									p Территория обслуживания – РФ (преимущественно СФО, УФО);
								li
									p Сервисные ресурсы: памятка застрахованному, горячая линия, сайт imkart.ru, мобильное приложение;
								li
									p Подходит для агентского и корпоративного канала продаж, продаж в офисах СК.
						.insurance-box
							._image
								img(src="img/insurance2.jpg", alt="")
							a._link(href="#") зеленыйпункт.рф
							ul.succsess-list
								li
									p Получение услуги только через обращение в контакт-центр (КЦ);
								li
									p Основание для получения помощи – гарантийное письмо в МО от КЦ;
								li
									p Перевыставление стоимости услуги соисполнителей;
								li
									p Территория обслуживания – РФ (эндемичные регионы);
								li
									p Поэтапное сопровождение застрахованного при получении помощи;
								li
									p Сервисные ресурсы: горячая линия, сайт зеленыйпункт.рф;
								li
									p Онлайн канал продаж, партнерские каналы, коробочные продукты.
		.partners.insurance-partners
			.container
				.partners-block
					span._title Партнеры
					.partners-boxes
						.partner
							._image
								img(src="img/partner4.jpg", alt="")
							span._name Альфа Страхование
						.partner
							._image
								img(src="img/partner5.jpg", alt="")
							span._name Югория
						.partner
							._image
								img(src="img/partner7.jpg", alt="")
							span._name ВСК страховой дом
						.partner
							._image
								img(src="img/partner8.jpg", alt="")
							span._name Энергогарант
						.partner
							._image
								img(src="img/partner9.jpg", alt="")
							span._name РЕСО гарантия
						.partner
							._image
								img(src="img/partner10.jpg", alt="")
							span._name Ренессанс страхование
						.partner
							._image
								img(src="img/partner11.jpg", alt="")
							span._name Росэнерго жизнь
						.partner
							._image
								img(src="img/partner12.jpg", alt="")
							span._name Zetta страхование
		.reviews.insurance-reviews
			._title
				.container
					span Отзывы
			._slider
				._slide
					.reviews-slide__image
						img(src="img/reviews1.jpg", alt="")
					.reviews-slide__info
						span ООО «Бочкаревский пивоваренный завод» 
						p Бочкаревский пивоваренный завод расположен в экологически чистом месте Алтайского края. Удаленность села Бочкари Целинного района от крупных городов и промышленных предприятий - 70 км.
						p Основные направления деятельности завода – производство и реализация натуральных напитков: пива, кваса, лимонадов, питьевых, минеральных и лечебно-столовых вод. Марочный портфель компании включает более 100 наименований высококачественных натуральных напитков.При производстве своей продукции «Бочкари» придерживаются классического способа.
						a(href="#").reviews-read.animBtn Читать далее
							<svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
				._slide
					.reviews-slide__image
						img(src="img/reviews1.jpg", alt="")
					.reviews-slide__info
						span ООО «Бочкаревский пивоваренный завод» 
						p Бочкаревский пивоваренный завод расположен в экологически чистом месте Алтайского края. Удаленность села Бочкари Целинного района от крупных городов и промышленных предприятий - 70 км.
						p Основные направления деятельности завода – производство и реализация натуральных напитков: пива, кваса, лимонадов, питьевых, минеральных и лечебно-столовых вод. Марочный портфель компании включает более 100 наименований высококачественных натуральных напитков.При производстве своей продукции «Бочкари» придерживаются классического способа.
						a(href="#").reviews-read.animBtn Читать далее
							<svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
				._slide
					.reviews-slide__image
						img(src="img/reviews1.jpg", alt="")
					.reviews-slide__info
						span ООО «Бочкаревский пивоваренный завод» 
						p Бочкаревский пивоваренный завод расположен в экологически чистом месте Алтайского края. Удаленность села Бочкари Целинного района от крупных городов и промышленных предприятий - 70 км.
						p Основные направления деятельности завода – производство и реализация натуральных напитков: пива, кваса, лимонадов, питьевых, минеральных и лечебно-столовых вод. Марочный портфель компании включает более 100 наименований высококачественных натуральных напитков.При производстве своей продукции «Бочкари» придерживаются классического способа.
						a(href="#").reviews-read.animBtn Читать далее
							<svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
				._slide
					.reviews-slide__image
						img(src="img/reviews1.jpg", alt="")
					.reviews-slide__info
						span ООО «Бочкаревский пивоваренный завод» 
						p Бочкаревский пивоваренный завод расположен в экологически чистом месте Алтайского края. Удаленность села Бочкари Целинного района от крупных городов и промышленных предприятий - 70 км.
						p Основные направления деятельности завода – производство и реализация натуральных напитков: пива, кваса, лимонадов, питьевых, минеральных и лечебно-столовых вод. Марочный портфель компании включает более 100 наименований высококачественных натуральных напитков.При производстве своей продукции «Бочкари» придерживаются классического способа.
						a(href="#").reviews-read.animBtn Читать далее
							<svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
				._slide
					.reviews-slide__image
						img(src="img/reviews1.jpg", alt="")
					.reviews-slide__info
						span ООО «Бочкаревский пивоваренный завод» 
						p Бочкаревский пивоваренный завод расположен в экологически чистом месте Алтайского края. Удаленность села Бочкари Целинного района от крупных городов и промышленных предприятий - 70 км.
						p Основные направления деятельности завода – производство и реализация натуральных напитков: пива, кваса, лимонадов, питьевых, минеральных и лечебно-столовых вод. Марочный портфель компании включает более 100 наименований высококачественных натуральных напитков.При производстве своей продукции «Бочкари» придерживаются классического способа.
						a(href="#").reviews-read.animBtn Читать далее
							<svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
				._slide
					.reviews-slide__image
						img(src="img/reviews1.jpg", alt="")
					.reviews-slide__info
						span ООО «Бочкаревский пивоваренный завод» 
						p Бочкаревский пивоваренный завод расположен в экологически чистом месте Алтайского края. Удаленность села Бочкари Целинного района от крупных городов и промышленных предприятий - 70 км.
						p Основные направления деятельности завода – производство и реализация натуральных напитков: пива, кваса, лимонадов, питьевых, минеральных и лечебно-столовых вод. Марочный портфель компании включает более 100 наименований высококачественных натуральных напитков.При производстве своей продукции «Бочкари» придерживаются классического способа.
						a(href="#").reviews-read.animBtn Читать далее
							<svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
		.hotline
			.container
				.hotline-block
					span._text Телефон горячей линии
					a(href="#")._phone 8 800 2000 600
		.insurance-feedback
			.container
				.insurance-feedback__blocks
					.insurance-feedback__block
						span.insurance-feedback__title Контакты
						a.insurance-feedback__phone(href="#")
							<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M15.6413 12.6266L13.1703 10.1554C12.6782 9.66519 11.8631 9.68008 11.3538 10.1896L10.109 11.4342C10.0303 11.3908 9.9489 11.3456 9.86331 11.2975C9.07718 10.8619 8.00124 10.2649 6.86903 9.13188C5.73346 7.99646 5.13589 6.91886 4.69898 6.13223C4.65287 6.04889 4.6087 5.96854 4.56507 5.89223L5.40057 5.05798L5.81133 4.64671C6.32142 4.13648 6.33549 3.32167 5.84447 2.83006L3.37352 0.35856C2.8825 -0.132366 2.0671 -0.117472 1.557 0.39276L0.860607 1.09316L0.879637 1.11205C0.646126 1.41001 0.450997 1.75365 0.305787 2.12424C0.171932 2.47699 0.0885941 2.8136 0.0504876 3.15091C-0.275785 5.85578 0.960263 8.32783 4.31474 11.6824C8.95164 16.3189 12.6884 15.9687 12.8496 15.9516C13.2007 15.9096 13.5372 15.8257 13.8791 15.6929C14.2465 15.5494 14.5899 15.3546 14.8877 15.1215L14.9029 15.1351L15.6084 14.4442C16.1174 13.9341 16.1321 13.119 15.6413 12.6266Z" fill="#C94666"/>
							</svg>
							span 8 (3852) 63-09-09
						ul
							li
								<svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M9.75 4.89861C10.4167 5.28351 10.4167 6.24576 9.75 6.63066L1.5 11.3938C0.833332 11.7787 -3.36418e-08 11.2976 0 10.5278L4.16418e-07 1.00149C4.50067e-07 0.231691 0.833334 -0.249434 1.5 0.135467L9.75 4.89861Z" fill="#C94666"/>
								</svg>
								div
									span Харламов Сергей Вадимович
									span руководитель отдела по работе со страховыми компаниями (вн. 344)
							li
								<svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M9.75 4.89861C10.4167 5.28351 10.4167 6.24576 9.75 6.63066L1.5 11.3938C0.833332 11.7787 -3.36418e-08 11.2976 0 10.5278L4.16418e-07 1.00149C4.50067e-07 0.231691 0.833334 -0.249434 1.5 0.135467L9.75 4.89861Z" fill="#C94666"/>
								</svg>
								div
									span Ропа Ирина Викторовна
									span заместитель руководителя отдела по работе со страховыми компаниями (вн. 451)
					form(action="#").feedback-form
						span.feedback-form__title Обратная связь
						.input
							input(type="text" id="wfb_name")
							label(for="wfb_name") Ваше имя
						.input
							input(type="text" id="wfb_phone" class="js-phone")
							label(for="wfb_phone") Телефон
						.textarea
							textarea(id="wfb_subtitle")
							label(for="wfb_subtitle") Ваша задача или вопрос
						.checkbox
							input(type="checkbox" id="wfb_checkbox")
							label(for="wfb_checkbox") Я согласен с политикой конфиденциальности и пользовательским соглашением
						a(href="#").btn Отправить