extends ../views/layouts/default
block variables
	- var title = "Главная страница";
	- var main = true;

block content
	main
		.main
			.hero-slider
				.hero-slider__slide
					.container
						.text-block
							h1 Вакцинация
							span В наших специализированных центрах оказываются услуги по вакцинации детей и взрослых. Мы используем только качественные отечественные и импортные вакцины.
							a(href="#").btn-g Перейти
					.slider-image
						img(src="img/slider-img.png", alt="")
				.hero-slider__slide
					.container
						.text-block
							h1 Вакцинация
							span В наших специализированных центрах оказываются услуги по вакцинации детей и взрослых. Мы используем только качественные отечественные и импортные вакцины.
							a(href="#").btn-g Перейти
					.slider-image
						img(src="img/slider-img.png", alt="")
				.hero-slider__slide
					.container
						.text-block
							h1 Вакцинация
							span В наших специализированных центрах оказываются услуги по вакцинации детей и взрослых. Мы используем только качественные отечественные и импортные вакцины.
							a(href="#").btn-g Перейти
					.slider-image
						img(src="img/slider-img.png", alt="")
			.vaccinations
				.container
					.vaccinations-block
						h2 Поставить прививку
						.vaccinations-boxes
							.vaccinations-box
								.vaccinations-box__image
									img(src="img/vac1.png", alt="")
								span.vaccinations-box__name Грипп
								span.vaccinations-box__price от 
									span 6789 ₽
							.vaccinations-box
								.vaccinations-box__image
									img(src="img/vac2.png", alt="")
								span.vaccinations-box__name Клещевой энцефалит
								span.vaccinations-box__price от 
									span 6789 ₽
							.vaccinations-box
								.vaccinations-box__image
									img(src="img/vac3.png", alt="")
								span.vaccinations-box__name Гепатит B
								span.vaccinations-box__price от 
									span 6789 ₽ 
							.vaccinations-box
								.vaccinations-box__image
									img(src="img/vac4.png", alt="")
								span.vaccinations-box__name Дифтерия
								span.vaccinations-box__price от 
									span 6789 ₽ 
							.vaccinations-box
								.vaccinations-box__image
									img(src="img/vac5.png", alt="")
								span.vaccinations-box__name Коклюш
								span.vaccinations-box__price от 
									span 6789 ₽
							.vaccinations-box
								.vaccinations-box__image
									img(src="img/vac1.png", alt="")
								span.vaccinations-box__name Столбняк
								span.vaccinations-box__price от 
									span 6789 ₽ 
							.vaccinations-box
								.vaccinations-box__image
									img(src="img/vac2.png", alt="")
								span.vaccinations-box__name Полиомиелит
								span.vaccinations-box__price от 
									span 6789 ₽
							.vaccinations-box
								.vaccinations-box__image
									img(src="img/vac3.png", alt="")
								span.vaccinations-box__name Ветряная оспа
								span.vaccinations-box__price от 
									span 6789 ₽
							.vaccinations-box
								.vaccinations-box__image
									img(src="img/vac2.png", alt="")
								span.vaccinations-box__name ВПЧ
								span.vaccinations-box__price от 
									span 6789 ₽
							.vaccinations-box
								.vaccinations-box__image
									img(src="img/vac3.png", alt="")
								span.vaccinations-box__name Менингококковая инфекция
								span.vaccinations-box__price от 
									span 6789 ₽
							.vaccinations-box
								.vaccinations-box__image
									img(src="img/vac1.png", alt="")
								span.vaccinations-box__name Ротавирусная инфекция
								span.vaccinations-box__price от 
									span 6789 ₽
							.vaccinations-box
								.vaccinations-box__image
									img(src="img/vac6.png", alt="")
								span.vaccinations-box__name Гемофильная инфекция
								span.vaccinations-box__price от 
									span 6789 ₽
						.vaccinations-btns
							a(href="#").btn Все вакцины
							a(href="#").btn Все инфекции
			.reasons
				.container
					.reasons-block
						h2 5 причин, почему стоит обратиться в АСКО-Мед плюс
						.reasons-boxes
							.reasons-box
								.reasons-box__logo
									img(src="img/reason1.png", alt="")
								span.reasons-box__name Вакцинация – наш профиль
								span.reasons-box__text Мы занимаемся только вакцинацией, поэтому, в отличие от многопрофильных центров, у нас исключен контакт с больными. 
							.reasons-box
								.reasons-box__logo
									img(src="img/reason2.png", alt="")
								span.reasons-box__name Бесплатный осмотр перед прививкой
								span.reasons-box__text Вы платите только за услугу вакцинации. За осмотр пациента перед процедурой платить не придется.
							.reasons-box
								.reasons-box__logo
									img(src="img/reason3.png", alt="")
								span.reasons-box__name Широкий выбор вакцин
								span.reasons-box__text В нашем ассортименте представлены разные современные, в т.ч. комбинированные вакцины. Врач проконсультирует, какая вакцина подходит для каждого конкретного случая.
							.reasons-box
								.reasons-box__logo
									img(src="img/reason4.png", alt="")
								span.reasons-box__name Всегда приятные цены и система скидок
								span.reasons-box__text Мы сотрудничаем с крупными международными поставщиками вакцин, прямые контракты позволяют нам устанавливать низкие цены, что всегда отмечается нашими клиентами. Существует дисконтная программа.
							.reasons-box
								.reasons-box__logo
									img(src="img/reason5.png", alt="")
								span.reasons-box__name Безопасность во всём
								span.reasons-box__text При транспортировке и хранении вакцин мы соблюдаем принцип «холодовой цепи». Перед прививкой наши врачи всегда проверяют состояние пациента на предмет противопоказаний. А на следующий день после прививки вам позвонят, чтобы узнать о самочувствии.
							.reason
								.reason-slider
									.reason-slide
										span.reason-age 25
										span.reason-text лет работы
									.reason-slide
										span.reason-age 25
										span.reason-text лет работы
									.reason-slide
										span.reason-age 25
										span.reason-text лет работы
								.reason-slides
									span.reason-el 1
									span  / 3