extends ../views/layouts/default
block variables
	- var title = "Главная страница";
	- var main = true;
	- var wholesale = false;

block content
	main
		.main
			.hero-slider
				.hero-slider__slide
					.container
						.text-block
							h1 Вакцинация
							span В наших специализированных центрах оказываются услуги по вакцинации детей и взрослых. Мы используем только качественные отечественные и импортные вакцины.
							a(href="#").btn-g Перейти
					.slider-image
						img(src="img/slider-img.png", alt="")
				.hero-slider__slide
					.container
						.text-block
							h1 Вакцинация
							span В наших специализированных центрах оказываются услуги по вакцинации детей и взрослых. Мы используем только качественные отечественные и импортные вакцины.
							a(href="#").btn-g Перейти
					.slider-image
						img(src="img/slider-img.png", alt="")
				.hero-slider__slide
					.container
						.text-block
							h1 Вакцинация
							span В наших специализированных центрах оказываются услуги по вакцинации детей и взрослых. Мы используем только качественные отечественные и импортные вакцины.
							a(href="#").btn-g Перейти
					.slider-image
						img(src="img/slider-img.png", alt="")
			.vaccinations
				.container
					.vaccinations-block
						h2 Поставить прививку
						.vaccinations-boxes
							.vaccinations-box
								.vaccinations-box__image
									img(src="img/vac1.png", alt="")
								span.vaccinations-box__name Грипп
								span.vaccinations-box__price от 
									span 6789 ₽
							.vaccinations-box
								.vaccinations-box__image
									img(src="img/vac2.png", alt="")
								span.vaccinations-box__name Клещевой энцефалит
								span.vaccinations-box__price от 
									span 6789 ₽
							.vaccinations-box
								.vaccinations-box__image
									img(src="img/vac3.png", alt="")
								span.vaccinations-box__name Гепатит B
								span.vaccinations-box__price от 
									span 6789 ₽ 
							.vaccinations-box
								.vaccinations-box__image
									img(src="img/vac4.png", alt="")
								span.vaccinations-box__name Дифтерия
								span.vaccinations-box__price от 
									span 6789 ₽ 
							.vaccinations-box
								.vaccinations-box__image
									img(src="img/vac5.png", alt="")
								span.vaccinations-box__name Коклюш
								span.vaccinations-box__price от 
									span 6789 ₽
							.vaccinations-box
								.vaccinations-box__image
									img(src="img/vac1.png", alt="")
								span.vaccinations-box__name Столбняк
								span.vaccinations-box__price от 
									span 6789 ₽ 
							.vaccinations-box
								.vaccinations-box__image
									img(src="img/vac2.png", alt="")
								span.vaccinations-box__name Полиомиелит
								span.vaccinations-box__price от 
									span 6789 ₽
							.vaccinations-box
								.vaccinations-box__image
									img(src="img/vac3.png", alt="")
								span.vaccinations-box__name Ветряная оспа
								span.vaccinations-box__price от 
									span 6789 ₽
							.vaccinations-box
								.vaccinations-box__image
									img(src="img/vac2.png", alt="")
								span.vaccinations-box__name ВПЧ
								span.vaccinations-box__price от 
									span 6789 ₽
							.vaccinations-box
								.vaccinations-box__image
									img(src="img/vac3.png", alt="")
								span.vaccinations-box__name Менингококковая инфекция
								span.vaccinations-box__price от 
									span 6789 ₽
							.vaccinations-box
								.vaccinations-box__image
									img(src="img/vac1.png", alt="")
								span.vaccinations-box__name Ротавирусная инфекция
								span.vaccinations-box__price от 
									span 6789 ₽
							.vaccinations-box
								.vaccinations-box__image
									img(src="img/vac6.png", alt="")
								span.vaccinations-box__name Гемофильная инфекция
								span.vaccinations-box__price от 
									span 6789 ₽
						.vaccinations-btns
							a(href="#").btn Все вакцины
							a(href="#").btn Все инфекции
			.reasons
				.container
					.reasons-block
						h2 5 причин, почему стоит обратиться в АСКО-Мед плюс
						.reasons-boxes
							.reasons-box
								.reasons-box__logo
									img(src="img/reason1.png", alt="")
								span.reasons-box__name Вакцинация – наш профиль
								span.reasons-box__text Мы занимаемся только вакцинацией, поэтому, в отличие от многопрофильных центров, у нас исключен контакт с больными. 
							.reasons-box
								.reasons-box__logo
									img(src="img/reason2.png", alt="")
								span.reasons-box__name Бесплатный осмотр перед прививкой
								span.reasons-box__text Вы платите только за услугу вакцинации. За осмотр пациента перед процедурой платить не придется.
							.reasons-box
								.reasons-box__logo
									img(src="img/reason3.png", alt="")
								span.reasons-box__name Широкий выбор вакцин
								span.reasons-box__text В нашем ассортименте представлены разные современные, в т.ч. комбинированные вакцины. Врач проконсультирует, какая вакцина подходит для каждого конкретного случая.
							.reasons-box
								.reasons-box__logo
									img(src="img/reason4.png", alt="")
								span.reasons-box__name Всегда приятные цены и система скидок
								span.reasons-box__text Мы сотрудничаем с крупными международными поставщиками вакцин, прямые контракты позволяют нам устанавливать низкие цены, что всегда отмечается нашими клиентами. Существует дисконтная программа.
							.reasons-box
								.reasons-box__logo
									img(src="img/reason5.png", alt="")
								span.reasons-box__name Безопасность во всём
								span.reasons-box__text При транспортировке и хранении вакцин мы соблюдаем принцип «холодовой цепи». Перед прививкой наши врачи всегда проверяют состояние пациента на предмет противопоказаний. А на следующий день после прививки вам позвонят, чтобы узнать о самочувствии.
							.reason
								.reason-slider
									.reason-slide
										span.reason-age 25
										span.reason-text лет работы
									.reason-slide
										span.reason-age 25
										span.reason-text лет работы
									.reason-slide
										span.reason-age 25
										span.reason-text лет работы
								.reason-slides
									span.reason-el 1
									span  / 3
			.about
				.container
					.about-block
						.about-text
							h2 О компании
							span Компания "Аско-мед-Плюс" основана в октябре 1995 года и стала первой проводить услуги по вакцинации населения в Алтайском крае. Сегодня это крупный медицинский центр иммунопрофилактики, который работает на территории Алтайского края и Новосибирска. У нас представлен весь спектр вакцин мирового уровня от ведущих  производителей. Проводим выездную вакцинацию. Внимательно относимся к каждому клиенту. Работают центры серопрофилактики клещевого энцефалита.
							.about-buttons
								a(href="#").btn Подробнее
								a(href="#").btn Центры вакцинации
							a(href="#").about-video
								<svg xmlns="http://www.w3.org/2000/svg" width="46" height="51" viewBox="0 0 46 51" fill="none">
									<path d="M43.8847 22.0228C46.5818 23.5564 46.5818 27.4436 43.8847 28.9772L6.47714 50.2472C3.81056 51.7634 0.499998 49.8375 0.499998 46.77L0.5 4.22999C0.5 1.16249 3.81056 -0.763433 6.47714 0.752791L43.8847 22.0228Z" fill="white"/>
								</svg>
								span смотреть видео о компании
								
						.about-slider
							ul#stack_wangi.stack.stack--wangi
								li.stack__item
									img(src="img/about-img1.png" alt="")
								li.stack__item
									img(src="img/about-img2.png" alt="")
								li.stack__item
									img(src="img/about-img1.png" alt="")
								li.stack__item
									img(src="img/about-img2.png" alt="")
								li.stack__item
									img(src="img/about-img1.png" alt="")
								li.stack__item
									img(src="img/about-img2.png" alt="")
							button.button.button--sonar.button--reject(data-stack="stack_wangi")
							button.button.button--sonar.button--accept(data-stack="stack_wangi")
			.map
				<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3a630e8cf28f40e682c0409210802464cc1db94753c0ebc54014d627e01b15e3&amp;width=100%25&amp;height=530&amp;lang=ru_RU&amp;scroll=false"></script>
				.map-block
					.container
						.map-info
							h2 Контакты
							.map-info__address
								span Адреса офисов
								span ул. Немировича-Данченко, 165, оф. 202
								span ул. Крылова, 34
							.map-info__phone
								span телефон
								.map-phone
									a(href="#") 8 800 555 8409
									a(href="#") Заказать звонок
							.map-info__mail
								span электронная почта
								a(href="#") info@asko-med.ru
							a(href="#").btn-g Написать нам
			.sub
				.container
					.sub-block
						.sub-box
							h3 Подпишитесь на акции и новости
							.sub-box__social
								span Или узнавайте новости в соцсетях
								a(href="#")
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="15" viewBox="0 0 24 15" fill="none">
										<path d="M23.043 1.74609C22.957 2.17578 22.6133 2.8776 22.0117 3.85156C21.4388 4.82552 20.9089 5.6849 20.4219 6.42969C19.9349 7.14583 19.6771 7.51823 19.6484 7.54688C19.4766 7.80469 19.3906 7.99089 19.3906 8.10547C19.3906 8.22005 19.4766 8.42057 19.6484 8.70703C19.6484 8.70703 19.7344 8.80729 19.9062 9.00781C20.1068 9.20833 20.3359 9.4375 20.5938 9.69531C20.8516 9.95312 21.138 10.2539 21.4531 10.5977C21.7682 10.9414 22.0547 11.2852 22.3125 11.6289C22.599 11.944 22.8424 12.2734 23.043 12.6172C23.2721 12.9609 23.4297 13.2474 23.5156 13.4766C23.7161 14.1927 23.4297 14.5508 22.6562 14.5508H20.1211C19.9206 14.5508 19.7487 14.5221 19.6055 14.4648C19.4622 14.4076 19.3047 14.3073 19.1328 14.1641C18.9609 14.0208 18.8034 13.8633 18.6602 13.6914C18.5169 13.5195 18.3021 13.276 18.0156 12.9609C17.7292 12.6458 17.4427 12.3451 17.1562 12.0586C16.0104 10.9701 15.1654 10.4258 14.6211 10.4258C14.2773 10.4258 14.0768 10.526 14.0195 10.7266C13.9622 10.9271 13.9336 11.5 13.9336 12.4453C13.9622 12.9036 13.9766 13.276 13.9766 13.5625C13.9766 13.9062 13.862 14.1641 13.6328 14.3359C13.4036 14.4792 12.9023 14.5508 12.1289 14.5508C10.7826 14.5508 9.42188 14.1497 8.04688 13.3477C6.67188 12.5456 5.46875 11.3997 4.4375 9.91016C3.46354 8.59245 2.64714 7.28906 1.98828 6C1.35807 4.68229 0.942708 3.67969 0.742188 2.99219C0.541667 2.30469 0.441406 1.81771 0.441406 1.53125C0.441406 1.04427 0.727865 0.800781 1.30078 0.800781H3.83594C4.15104 0.800781 4.38021 0.872396 4.52344 1.01562C4.69531 1.15885 4.83854 1.41667 4.95312 1.78906C5.55469 3.53646 6.28516 5.09766 7.14453 6.47266C8.03255 7.84766 8.70573 8.53516 9.16406 8.53516C9.33594 8.53516 9.45052 8.47786 9.50781 8.36328C9.59375 8.22005 9.63672 7.96224 9.63672 7.58984V3.85156C9.60807 3.45052 9.53646 3.10677 9.42188 2.82031C9.30729 2.53385 9.19271 2.33333 9.07812 2.21875C8.96354 2.07552 8.84896 1.93229 8.73438 1.78906C8.64844 1.64583 8.60547 1.51693 8.60547 1.40234C8.60547 1.28776 8.63411 1.1875 8.69141 1.10156C8.7487 1.01562 8.82031 0.94401 8.90625 0.886719C9.02083 0.829427 9.13542 0.800781 9.25 0.800781H13.2461C13.7044 0.800781 13.9336 1.11589 13.9336 1.74609V6.73047C13.9336 7.21745 14.0625 7.46094 14.3203 7.46094C14.6068 7.46094 15.0078 7.20312 15.5234 6.6875C16.0677 6.08594 16.5977 5.35547 17.1133 4.49609C17.6289 3.63672 18.0156 2.92057 18.2734 2.34766L18.6602 1.53125C18.8607 1.04427 19.2188 0.800781 19.7344 0.800781H22.2695C22.957 0.800781 23.2148 1.11589 23.043 1.74609Z" fill="#4C75A3"/>
									</svg>
								a(href="#")
									<svg xmlns="http://www.w3.org/2000/svg" width="13" height="23" viewBox="0 0 13 23" fill="none">
										<path d="M11.6133 13.0508H8.39062V22.6758H4.09375V13.0508H0.613281V9.05469H4.09375V6.04688C4.09375 4.90104 4.30859 3.92708 4.73828 3.125C5.16797 2.32292 5.76953 1.72135 6.54297 1.32031C7.34505 0.890625 8.26172 0.675781 9.29297 0.675781C9.7513 0.675781 10.2383 0.704427 10.7539 0.761719C11.2695 0.790365 11.6706 0.833333 11.957 0.890625L12.3867 0.933594V4.32812H10.668C9.86589 4.32812 9.27865 4.54297 8.90625 4.97266C8.5625 5.3737 8.39062 5.875 8.39062 6.47656V9.05469H12.2148L11.6133 13.0508Z" fill="#3C5A99"/>
									</svg>
						.sub-box.sub-box__input
							input(type="text" placeholder="Электронная почта")
							a(href="#").sub-btn Отправить
						.sub-box.sub-box__info
							span Известим об акциях и новинках в нашей компании. Не чаще 1 раза в неделю, и только полезное для вашего здоровья.
			.feedback
				.container
					.feedback-block
						.feedback-info 
							span.feedback-info__title Уважаемые клиенты!
							span.feedback-info__subtitle Если вы хотите сообщить руководству нашей компании свои пожелания, претензии или жалобы, то заполните форму обратной связи. Обращаем внимание на то, что данная форма не предназначена для сообщений рекламного характера. 
						form(action="#").feedback-form
							span.feedback-form__title Написать директору
							.input
								input(type="text" id="fb_name")
								label(for="fb_name") Ваше имя
							.input
								input(type="text" id="fb_phone")
								label(for="fb_phone") Телефон
							.textarea
								textarea(id="fb_subtitle")
								label(for="fb_subtitle") Ваша задача или вопрос
							.checkbox
								input(type="checkbox" id="fb_checkbox")
								label(for="fb_checkbox") Я согласен с политикой конфиденциальности и пользовательским соглашением
							a(href="#").btn Отправить