extends ../views/layouts/default
block variables
	- var title = "Партнеры"
	- var main = false;
	- var wholesale = true;
	
block content
	main
		.wholesale
			._banner
				.container
					span Оптовые поставки иммунобиологических препаратов, экспресс-тестов и изделий медицинского назначения для юридических лиц
		.breadcrumbs
			.container
				.breadcrumbs-item
					a(href="#") Главная
					span О компании
		.partners
			.container
				.partners-block
					span._title Партнеры
					span._subtitle Компания «АСКО-МЕД-ПЛЮС» выражает искреннюю благодарность нашим партнерам и клиентам за многолетнее взаимовыгодное плодотворное сотрудничество. Среди них:
					.partners-slider.js-partners
						.partner
							._image
								img(src="img/partner1.jpg", alt="")
							span._name Санофи Пастеры
						.partner
							span._name Учреждение Института полиомиелита и вирусных энцефалитов имени М.П.Чумакова
						.partner
							._image
								img(src="img/partner1.jpg", alt="")
							span._name Санофи Пастеры
						.partner
							span._name Пентаксим
						.partner
							span._name Церварикс
						.partner
							span._name Ваксигрипп
						.partner
							span._name Пневмо 23
						.partner
							span._name Менактра
						.partner
							span._name Ваксигрипп
						.partner
							span._name Приорикс
						.partner
							._image
								img(src="img/partner2.jpg", alt="")
							span._name Baxter
						.partner
							._image
								img(src="img/partner3.jpg", alt="")
							span._name Abbott
						.partner
							span._name МЦ «Енисей»
						.partner
							span._name Центр профилактики СПИД
						.partner
							span._name Красноярская медицинская компания
						.partner
							span._name МЦ «Ваш доктор
						.partner
							._image
								img(src="img/partner4.jpg", alt="")
							span._name Альфа Страхование
						.partner
							._image
								img(src="img/partner5.jpg", alt="")
							span._name Югория
						.partner
							._image
								img(src="img/partner7.jpg", alt="")
							span._name ВСК страховой дом
						.partner
							._image
								img(src="img/partner8.jpg", alt="")
							span._name Энергогарант
						.partner
							._image
								img(src="img/partner9.jpg", alt="")
							span._name РЕСО гарантия
						.partner
							._image
								img(src="img/partner10.jpg", alt="")
							span._name Ренессанс страхование
						.partner
							._image
								img(src="img/partner11.jpg", alt="")
							span._name Росэнерго жизнь
						.partner
							._image
								img(src="img/partner12.jpg", alt="")
							span._name Zetta страхование
						.partner
							._image
								img(src="img/partner13.jpg", alt="")
							span._name Барнаульский станкостроительный завод
						.partner
							._image
								img(src="img/partner14.jpg", alt="")
							span._name Бочкари
						.partner
							._image
								img(src="img/partner15.jpg", alt="")
							span._name МРСК Сибири
					.partners-boxes
						.partner
							a(href="#" data-izimodal-open="#infoPartner" data-izimodal-transitionin="fadeInDown")._link
							._image
								img(src="img/partner1.jpg", alt="")
							span._name Санофи Пастеры
						.partner
							a(href="#" data-izimodal-open="#infoPartner" data-izimodal-transitionin="fadeInDown")._link
							span._name Учреждение Института полиомиелита и вирусных энцефалитов имени М.П.Чумакова
						.partner
							a(href="#" data-izimodal-open="#infoPartner" data-izimodal-transitionin="fadeInDown")._link
							._image
								img(src="img/partner1.jpg", alt="")
							span._name Санофи Пастеры
						.partner
							a(href="#" data-izimodal-open="#infoPartner" data-izimodal-transitionin="fadeInDown")._link
							span._name Пентаксим
						.partner
							a(href="#" data-izimodal-open="#infoPartner" data-izimodal-transitionin="fadeInDown")._link
							span._name Церварикс
						.partner
							a(href="#" data-izimodal-open="#infoPartner" data-izimodal-transitionin="fadeInDown")._link
							span._name Ваксигрипп
						.partner
							a(href="#" data-izimodal-open="#infoPartner" data-izimodal-transitionin="fadeInDown")._link
							span._name Пневмо 23
						.partner
							a(href="#" data-izimodal-open="#infoPartner" data-izimodal-transitionin="fadeInDown")._link
							span._name Менактра
						.partner
							a(href="#" data-izimodal-open="#infoPartner" data-izimodal-transitionin="fadeInDown")._link
							span._name Ваксигрипп
						.partner
							a(href="#" data-izimodal-open="#infoPartner" data-izimodal-transitionin="fadeInDown")._link
							span._name Приорикс
						.partner
							a(href="#" data-izimodal-open="#infoPartner" data-izimodal-transitionin="fadeInDown")._link
							._image
								img(src="img/partner2.jpg", alt="")
							span._name Baxter
						.partner
							a(href="#" data-izimodal-open="#infoPartner" data-izimodal-transitionin="fadeInDown")._link
							._image
								img(src="img/partner3.jpg", alt="")
							span._name Abbott
						.partner
							a(href="#" data-izimodal-open="#infoPartner" data-izimodal-transitionin="fadeInDown")._link
							span._name МЦ «Енисей»
						.partner
							a(href="#" data-izimodal-open="#infoPartner" data-izimodal-transitionin="fadeInDown")._link
							span._name Центр профилактики СПИД
						.partner
							a(href="#" data-izimodal-open="#infoPartner" data-izimodal-transitionin="fadeInDown")._link
							span._name Красноярская медицинская компания
						.partner
							a(href="#" data-izimodal-open="#infoPartner" data-izimodal-transitionin="fadeInDown")._link
							span._name МЦ «Ваш доктор
						.partner
							a(href="#" data-izimodal-open="#infoPartner" data-izimodal-transitionin="fadeInDown")._link
							._image
								img(src="img/partner4.jpg", alt="")
							span._name Альфа Страхование
						.partner
							a(href="#" data-izimodal-open="#infoPartner" data-izimodal-transitionin="fadeInDown")._link
							._image
								img(src="img/partner5.jpg", alt="")
							span._name Югория
						.partner
							a(href="#" data-izimodal-open="#infoPartner" data-izimodal-transitionin="fadeInDown")._link
							._image
								img(src="img/partner7.jpg", alt="")
							span._name ВСК страховой дом
						.partner
							a(href="#" data-izimodal-open="#infoPartner" data-izimodal-transitionin="fadeInDown")._link
							._image
								img(src="img/partner8.jpg", alt="")
							span._name Энергогарант
						.partner
							a(href="#" data-izimodal-open="#infoPartner" data-izimodal-transitionin="fadeInDown")._link
							._image
								img(src="img/partner9.jpg", alt="")
							span._name РЕСО гарантия
						.partner
							a(href="#" data-izimodal-open="#infoPartner" data-izimodal-transitionin="fadeInDown")._link
							._image
								img(src="img/partner10.jpg", alt="")
							span._name Ренессанс страхование
						.partner
							a(href="#" data-izimodal-open="#infoPartner" data-izimodal-transitionin="fadeInDown")._link
							._image
								img(src="img/partner11.jpg", alt="")
							span._name Росэнерго жизнь
						.partner
							a(href="#" data-izimodal-open="#infoPartner" data-izimodal-transitionin="fadeInDown")._link
							._image
								img(src="img/partner12.jpg", alt="")
							span._name Zetta страхование
						.partner
							a(href="#" data-izimodal-open="#infoPartner" data-izimodal-transitionin="fadeInDown")._link
							._image
								img(src="img/partner13.jpg", alt="")
							span._name Барнаульский станкостроительный завод
						.partner
							a(href="#" data-izimodal-open="#infoPartner" data-izimodal-transitionin="fadeInDown")._link
							._image
								img(src="img/partner14.jpg", alt="")
							span._name Бочкари
						.partner
							a(href="#" data-izimodal-open="#infoPartner" data-izimodal-transitionin="fadeInDown")._link
							._image
								img(src="img/partner15.jpg", alt="")
							span._name МРСК Сибири
		.cooperation
			.container
				.cooperation-block
					span._title Стань нашим партнером!
					a.btn(href="#" data-izimodal-open="#partner" data-izimodal-transitionin="fadeInDown") Начать сотрудничество
							