extends ../views/layouts/default
block variables
	- var title = "Карточка с товаром";
	- var main = true;
	- var wholesale = false;

block content
	main
		.main
			.breadcrumbs
				.container
					.breadcrumbs-item
						a(href="#") Главная
						span О компании
			.product
				.product-main
					.container
						.product-main__block
							.product-image
								img(src="img/product1.jpg", alt="")
							.product-info
								span.product-info__title Иммуноглобулин человека противоаллергический
								.product-info__price
									span.price 560 
										<svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M3.38647 20V16.1905H0.666016V14.3697H3.38647V11.8768H0.666016V9.7479H3.38647V0H9.26514C11.996 0 14.0181 0.494865 15.3314 1.48459C16.6656 2.47432 17.3327 3.91223 17.3327 5.79832C17.3327 7.70308 16.6135 9.19701 15.1751 10.2801C13.7367 11.3445 11.6208 11.8768 8.82737 11.8768H6.20072V14.3697H11.3602V16.1905H6.20072V20H3.38647ZM6.20072 9.7479H8.42086C10.3179 9.7479 11.7875 9.46779 12.8299 8.90756C13.893 8.34734 14.4246 7.33894 14.4246 5.88235C14.4246 4.61251 13.9868 3.66947 13.1113 3.05322C12.2357 2.43698 10.8703 2.12885 9.01498 2.12885H6.20072V9.7479Z" fill="#8E8E8E"/>
										</svg>
									span.product-price__info вакцина + введение
								a(href="#" data-izimodal-open="#record" data-izimodal-transitionin="fadeInDown").btn-r Записаться на прием
								.product-info__text
									p
										span Производитель
										span Россия
									p
										span Возраст
										span Дети, взрослые, укушенные клещом
									p
										span Фасовка
										span Ампула 1,0 на 10 кг веса
				.container
					.recipe
						.recipe-boxes
							.recipe-box
								.recipe-box__image
									img(src="img/recipe-img1.png", alt="")
								.recipe-box__info
									span.recipe-box__title Назначение
									span.recipe-box__subtitle Препарат назначается в качестве превентивной меры в период общей профилактика гриппа (в 2018-2019 году это время — сентябрь — октябрь текущего года).
							.recipe-box
								.recipe-box__image
									img(src="img/recipe-img2.png", alt="")
								.recipe-box__info
									span.recipe-box__title Показания к применению
									span.recipe-box__subtitle Экстренная профилактика проводится лицам, отметившим присасывание клещей в эндемичных по клещевому энцефалиту районах или при подозрении на лабораторное заражение. Детям до 12 лет — 1 мл; 12-16 лет — 2 мл; от 16 лет и старше — 3 мл. В случае повторного инфицирования возможно введение иммуноглобулина через 1 месяц после первого введения. Для лечения вводят в/м по 3 мл каждые 10-12 ч в течение первых 3 дней. При тяжелых формах заболевания продолжают введение иммуноглобулина в тех же дозах до снижения температуры. Раствор вводится внутримышечно.
							.recipe-box
								.recipe-box__image
									img(src="img/recipe-img3.png", alt="")
								.recipe-box__info
									span.recipe-box__title Схемы вакцинации
									span.recipe-box__subtitle Препарат назначается в качестве превентивной меры в период общей профилактика гриппа (в 2018-2019 году это время — сентябрь — октябрь текущего года).
						.recipe-table
							table
								tr
									td Вакцинация
									td Доза
									td Схема А. Плановая вакцинация
									td Схема Б. Экстренная вакцинация
								tr
									td Первая прививка
									td 0,5 мл
									td 0 день
									td 0 день
								tr
									td Вторая прививка
									td 0,5 мл
									td Через 1-3 мес
									td Через 14 дней
								tr
									td Третья прививка
									td 0,5 мл
									td Через 2-12 мес после первой прививки
									td Через 5-12 мес после первой прививки
				.faq
					.container
						.faq-block
							h2 Часто задаваемые вопросы
							.faq-boxes
								.faq-box
									.faq-box__button
										.faq-box__plus
											img(src="img/plus.png", alt="")
										.faq-box__minus 
											img(src="img/minus.png", alt="")
										span.faq-box__name Мне подходит данный вариант вакцины, если мне уже больше 70 лет?
									.faq-box__content
										span Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.
								.faq-box
									.faq-box__button
										.faq-box__plus
											img(src="img/plus.png", alt="")
										.faq-box__minus 
											img(src="img/minus.png", alt="")
										span.faq-box__name Мне подходит данный вариант вакцины, если мне уже больше 70 лет?
									.faq-box__content
										span Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.
								.faq-box
									.faq-box__button
										.faq-box__plus
											img(src="img/plus.png", alt="")
										.faq-box__minus 
											img(src="img/minus.png", alt="")
										span.faq-box__name Мне подходит данный вариант вакцины, если мне уже больше 70 лет?
									.faq-box__content
										span Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.
								.faq-box
									.faq-box__button
										.faq-box__plus
											img(src="img/plus.png", alt="")
										.faq-box__minus 
											img(src="img/minus.png", alt="")
										span.faq-box__name Мне подходит данный вариант вакцины, если мне уже больше 70 лет?
									.faq-box__content
										span Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.
				.recommendations
					.container
						.recommendations-block
							h2 Дополнительная рекомендация от врачей
							.recommendations-slider
								.recommendations-item
									.recommendations-item__image
										img(src="img/recomend-img1.jpg", alt="")
									.recommendations-item__info
										span.recommendations-title Адасель
										span.recommendations-subtitle Назначается в качестве превентивной меры в период Назначается в качестве превентивной меры в период Назначается в качестве превентивной меры в период Назначается в качестве превентивной меры в период общей профилактика гриппа
										.recommendations-price
											span.price 560
												span ₽
											a(href="#").recommendations-more.animBtn Подробнее
												<svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
													<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
												</svg>
								.recommendations-item
									.recommendations-item__image
										img(src="img/recomend-img2.jpg", alt="")
									.recommendations-item__info
										span.recommendations-title Хаврикс
										span.recommendations-subtitle Назначается в качестве превентивной меры в период общей профилактика гриппа
										.recommendations-price
											span.price 560
												span ₽
											a(href="#").recommendations-more.animBtn Подробнее
												<svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
													<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
												</svg>
								.recommendations-item
									.recommendations-item__image
										img(src="img/recomend-img3.jpg", alt="")
									.recommendations-item__info
										span.recommendations-title Гриппол
										span.recommendations-subtitle Назначается в качестве превентивной меры в период общей профилактика гриппа
										.recommendations-price
											span.price 560
												span ₽
											a(href="#").recommendations-more.animBtn Подробнее
												<svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
													<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
												</svg>
								.recommendations-item
									.recommendations-item__image
										img(src="img/recomend-img4.jpg", alt="")
									.recommendations-item__info
										span.recommendations-title Инфанрикс
										span.recommendations-subtitle Назначается в качестве превентивной меры в период общей профилактика гриппа
										.recommendations-price
											span.price 560
												span ₽
											a(href="#").recommendations-more.animBtn Подробнее
												<svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
													<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
												</svg>
								.recommendations-item
									.recommendations-item__image
										img(src="img/recomend-img1.jpg", alt="")
									.recommendations-item__info
										span.recommendations-title Адасель
										span.recommendations-subtitle Назначается в качестве превентивной меры в период общей профилактика гриппа
										.recommendations-price
											span.price 560
												span ₽
											a(href="#").recommendations-more.animBtn Подробнее
												<svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
													<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
												</svg>
								.recommendations-item
									.recommendations-item__image
										img(src="img/recomend-img2.jpg", alt="")
									.recommendations-item__info
										span.recommendations-title Хаврикс
										span.recommendations-subtitle Назначается в качестве превентивной меры в период общей профилактика гриппа
										.recommendations-price
											span.price 560
												span ₽
											a(href="#").recommendations-more.animBtn Подробнее
												<svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
													<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
												</svg>
								.recommendations-item
									.recommendations-item__image
										img(src="img/recomend-img3.jpg", alt="")
									.recommendations-item__info
										span.recommendations-title Гриппол
										span.recommendations-subtitle Назначается в качестве превентивной меры в период общей профилактика гриппа
										.recommendations-price
											span.price 560
												span ₽
											a(href="#").recommendations-more.animBtn Подробнее
												<svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
													<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
												</svg>
								.recommendations-item
									.recommendations-item__image
										img(src="img/recomend-img4.jpg", alt="")
									.recommendations-item__info
										span.recommendations-title Инфанрикс
										span.recommendations-subtitle Назначается в качестве превентивной меры в период общей профилактика гриппа
										.recommendations-price
											span.price 560
												span ₽
											a(href="#").recommendations-more.animBtn Подробнее
												<svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
													<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
												</svg>
				.citation
					.container
						.citation-block
							span Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. 
							span Ни одного штриха не мог бы я сделать, а никогда не был таким большим художником, как в эти минуты.