extends ../views/layouts/default
block variables
	- var title = "Карточка с товаром";
	- var main = true;

block content
	main
		.main
			.breadcrumbs
				.container
					.breadcrumbs-item
						a(href="#") Главная
						span О компании
			.product
				.product-main
					.container
						.product-main__block
							.product-image
								img(src="img/product1.jpg", alt="")
							.product-info
								span.product-info__title Иммуноглобулин человека противоаллергический
								.product-info__price
									span.price 560
										span ₽
									span.product-price__info вакцина + введение
								a(href="#").btn-r Записаться на прием
								.product-info__text
									p
										span Производитель
										span Россия
									p
										span Возраст
										span Дети, взрослые, укушенные клещом
									p
										span Фасовка
										span Ампула 1,0 на 10 кг веса
				.container
					.recipe
						.recipe-boxes
							.recipe-box
								.recipe-box__image
									img(src="img/recipe-img1.png", alt="")
								.recipe-box__info
									span.recipe-box__title Назначение
									span.recipe-box__subtitle Препарат назначается в качестве превентивной меры в период общей профилактика гриппа (в 2018-2019 году это время — сентябрь — октябрь текущего года).
							.recipe-box
								.recipe-box__image
									img(src="img/recipe-img2.png", alt="")
								.recipe-box__info
									span.recipe-box__title Показания к применению
									span.recipe-box__subtitle Экстренная профилактика проводится лицам, отметившим присасывание клещей в эндемичных по клещевому энцефалиту районах или при подозрении на лабораторное заражение. Детям до 12 лет — 1 мл; 12-16 лет — 2 мл; от 16 лет и старше — 3 мл. В случае повторного инфицирования возможно введение иммуноглобулина через 1 месяц после первого введения. Для лечения вводят в/м по 3 мл каждые 10-12 ч в течение первых 3 дней. При тяжелых формах заболевания продолжают введение иммуноглобулина в тех же дозах до снижения температуры. Раствор вводится внутримышечно.
							.recipe-box
								.recipe-box__image
									img(src="img/recipe-img3.png", alt="")
								.recipe-box__info
									span.recipe-box__title Схемы вакцинации
									span.recipe-box__subtitle Препарат назначается в качестве превентивной меры в период общей профилактика гриппа (в 2018-2019 году это время — сентябрь — октябрь текущего года).
						.vaccinations-table
							.vaccinations-row
								.vaccinations-col Вакцинация
								.vaccinations-col Доза
								.vaccinations-col Схема А. Плановая вакцинация
								.vaccinations-col Схема Б. Экстренная вакцинация
							.vaccinations-row
								.vaccinations-col Первая прививка
								.vaccinations-col 0,5 мл
								.vaccinations-col 0 день
								.vaccinations-col 0 день
							.vaccinations-row
								.vaccinations-col Вторая прививка
								.vaccinations-col 0,5 мл
								.vaccinations-col Через 1-3 мес
								.vaccinations-col Через 14 дней
							.vaccinations-row
								.vaccinations-col Третья прививка
								.vaccinations-col 0,5 мл
								.vaccinations-col Через 2-12 мес после первой прививки
								.vaccinations-col Через 5-12 мес после первой прививки
				.faq
					.container
						.faq-block
							h2 Часто задаваемые вопросы
							.faq-boxes
								.faq-box
									.faq-box__button
										.faq-box__image
											img(src="img/plus.png", alt="")
										span.faq-box__name Мне подходит данный вариант вакцины, если мне уже больше 70 лет?
									.faq-box__content
										span Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.
								.faq-box
									.faq-box__button
										.faq-box__image
											img(src="img/plus.png", alt="")
										span.faq-box__name Мне подходит данный вариант вакцины, если мне уже больше 70 лет?
									.faq-box__content
										span Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.
								.faq-box
									.faq-box__button
										.faq-box__image
											img(src="img/plus.png", alt="")
										span.faq-box__name Мне подходит данный вариант вакцины, если мне уже больше 70 лет?
									.faq-box__content
										span Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.
								.faq-box
									.faq-box__button
										.faq-box__image
											img(src="img/plus.png", alt="")
										span.faq-box__name Мне подходит данный вариант вакцины, если мне уже больше 70 лет?
									.faq-box__content
										span Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.
				.recommendations
					.container
						.recommendations-block
							h2 Дополнительная рекомендация от врачей
							.recommendations-slider
								.recommendations-item
									.recommendations-item__image
										img(src="img/recomend-img1.jpg", alt="")
									.recommendations-item__info
										span.recommendations-title Адасель
										span.recommendations-subtitle Назначается в качестве превентивной меры в период общей профилактика гриппа
										.recommendations-price
											span.price 560
												span ₽
											a(href="#").recommendations-more Подробнее
												<svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
													<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
												</svg>
								.recommendations-item
									.recommendations-item__image
										img(src="img/recomend-img2.jpg", alt="")
									.recommendations-item__info
										span.recommendations-title Хаврикс
										span.recommendations-subtitle Назначается в качестве превентивной меры в период общей профилактика гриппа
										.recommendations-price
											span.price 560
												span ₽
											a(href="#").recommendations-more Подробнее
												<svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
													<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
												</svg>
								.recommendations-item
									.recommendations-item__image
										img(src="img/recomend-img3.jpg", alt="")
									.recommendations-item__info
										span.recommendations-title Гриппол
										span.recommendations-subtitle Назначается в качестве превентивной меры в период общей профилактика гриппа
										.recommendations-price
											span.price 560
												span ₽
											a(href="#").recommendations-more Подробнее
												<svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
													<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
												</svg>
								.recommendations-item
									.recommendations-item__image
										img(src="img/recomend-img4.jpg", alt="")
									.recommendations-item__info
										span.recommendations-title Инфанрикс
										span.recommendations-subtitle Назначается в качестве превентивной меры в период общей профилактика гриппа
										.recommendations-price
											span.price 560
												span ₽
											a(href="#").recommendations-more Подробнее
												<svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
													<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
												</svg>
								.recommendations-item
									.recommendations-item__image
										img(src="img/recomend-img1.jpg", alt="")
									.recommendations-item__info
										span.recommendations-title Адасель
										span.recommendations-subtitle Назначается в качестве превентивной меры в период общей профилактика гриппа
										.recommendations-price
											span.price 560
												span ₽
											a(href="#").recommendations-more Подробнее
												<svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
													<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
												</svg>
								.recommendations-item
									.recommendations-item__image
										img(src="img/recomend-img2.jpg", alt="")
									.recommendations-item__info
										span.recommendations-title Хаврикс
										span.recommendations-subtitle Назначается в качестве превентивной меры в период общей профилактика гриппа
										.recommendations-price
											span.price 560
												span ₽
											a(href="#").recommendations-more Подробнее
												<svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
													<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
												</svg>
								.recommendations-item
									.recommendations-item__image
										img(src="img/recomend-img3.jpg", alt="")
									.recommendations-item__info
										span.recommendations-title Гриппол
										span.recommendations-subtitle Назначается в качестве превентивной меры в период общей профилактика гриппа
										.recommendations-price
											span.price 560
												span ₽
											a(href="#").recommendations-more Подробнее
												<svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
													<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
												</svg>
								.recommendations-item
									.recommendations-item__image
										img(src="img/recomend-img4.jpg", alt="")
									.recommendations-item__info
										span.recommendations-title Инфанрикс
										span.recomendations-subtitle Назначается в качестве превентивной меры в период общей профилактика гриппа
										.recommendations-price
											span.price 560
												span ₽
											a(href="#").recommendations-more Подробнее
												<svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
													<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
												</svg>
				.citation
					.container
						.citation-block
							span Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. 
							span Ни одного штриха не мог бы я сделать, а никогда не был таким большим художником, как в эти минуты.