extends ../views/layouts/default
block variables
	- var title = "Тестовая страница"
	- var main = true;
	- var wholesale = false;
	
block content
	.test
		.container
			.test-block
				h1 Заголовок h1
				h2 Заголовок h2
				h3 Заголовок h3
				h4 Заголовок h4
				p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случилось?
				h2 Нумерованный список
				ol.number-list
					li
						p Как бы выразить, как бы вдохнуть в рисунок то, что так полно, так трепетно живет во мне, запечатлеть отражение моей души, как душа моя - отражение предвечного бога! " Друг мой. . . Но нет!
					li
						p Мне не под силу это, меня подавляет величие этих явлений. Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца.
					li
						p Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого.
				h2 Список с точкой
				ul.dot-list
					li
						p Как бы выразить, как бы вдохнуть в рисунок то, что так полно, так трепетно живет во мне, запечатлеть отражение моей души, как душа моя - отражение предвечного бога! " Друг мой. . . Но нет!
					li
						p Мне не под силу это, меня подавляет величие этих явлений. Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца.
					li
						p Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого.
				h2 Список с галочкой
				ul.succsess-list
					li
						p Как бы выразить, как бы вдохнуть в рисунок то, что так полно, так трепетно живет во мне, запечатлеть отражение моей души, как душа моя - отражение предвечного бога! " Друг мой. . . Но нет!
					li
						p Мне не под силу это, меня подавляет величие этих явлений. Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца.
					li
						p Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого.
				h2 Список с крестиком
				ul.cross-list
					li
						p Как бы выразить, как бы вдохнуть в рисунок то, что так полно, так трепетно живет во мне, запечатлеть отражение моей души, как душа моя - отражение предвечного бога! " Друг мой. . . Но нет!
					li
						p Мне не под силу это, меня подавляет величие этих явлений. Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца.
					li
						p Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого.
				h2 Список без классов
				ul
					li Как бы выразить, как бы вдохнуть в рисунок то, что так полно, так трепетно живет во мне, запечатлеть отражение моей души, как душа моя - отражение предвечного бога! " Друг мой. . . Но нет!
					li Мне не под силу это, меня подавляет величие этих явлений. Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца.
					li Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого.
				h2 Кнопки 
				br
				a(href="#").btn Кнопка
				a(href="#").btn-g Градиент
				a(href="#").btn-r Красная кнопка
				h2 Поиск
				br
				.search
					input(type="text" placeholder="Поиск")
					a(href="#")
						<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
							<path d="M12.5861 13.1688L17.4173 18M14.9253 7.96267C14.9253 11.808 11.808 14.9253 7.96267 14.9253C4.11729 14.9253 1 11.808 1 7.96267C1 4.11729 4.11729 1 7.96267 1C11.808 1 14.9253 4.11729 14.9253 7.96267Z" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
				h2 Инпуты
				br
				.input
					input(type="text" id="input")
					label(for="input") Текст подсказка
				.textarea
					textarea(id="textarea")
					label(for="textarea") Текст подсказка
				h2 Чекбоксы
				br
				.checkbox
					input(type="checkbox" id="checkbox")
					label(for="checkbox") Я согласен с политикой конфиденциальности и пользовательским соглашением
				h2 Цитата
				br
				.quote
					.quote-item
						<svg xmlns="http://www.w3.org/2000/svg" width="72" height="54" viewBox="0 0 72 54" fill="none">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M13.005 31.5H0V0H31.5L31.455 29.7L26.5928 54H8.505L13.005 31.5ZM27 4.5H4.5V27H18.495L13.995 49.5H22.9072L27 29.025V4.5ZM40.5 31.5V0H72L71.955 29.7L67.0928 54H49.005L53.505 31.5H40.5ZM63.4072 49.5L67.5 29.025V4.5H45V27H58.995L54.495 49.5H63.4072Z" fill="url(#paint0_linear)"/>
							<defs>
								<linearGradient id="paint0_linear" x1="0" y1="17.2016" x2="72" y2="17.2016" gradientUnits="userSpaceOnUse">
									<stop stop-color="#005AA5"/>
									<stop offset="1" stop-color="#6EC6D3"/>
								</linearGradient>
							</defs>
						</svg>
					.quote-block
						span Анна Иванова, врач-иммунолог:
						p Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого.
			
			.client-info
				h3 Заявление для заказа Справки:
				._blocks
					._block
						._area
							.input
								input(type="text" id="client_tax")
								label(for="client_tax") ФИО налогоплательщика
					._block
						._area
							.input
								input(type="text" id="client_inn")
								label(for="client_inn") ИНН налогоплательщика
					._block
						._area
							.input
								input(type="text" id="client_FIO")
								label(for="client_FIO") фИО клиента, получившего услугу
							span если налогоплательщик и получивший услугу – одно лицо, пропустите пункт 3
					._block
						._area
							select._select.js-select(name="centers")
								option(disabled selected) Укажите центр вакцинации, где оказывалась услуга
								option(value="1") Барнаул, Малахова, 146
								option(value="2") Барнаул, Мало-Олонская, 17
								option(value="3") Новосибирск, Крылова, 34
								option(value="4") Новосибирск, Немировича-Данченко, 165
					._block
						._area
							select._select.js-select(name="year")
								option(disabled selected) Год, за который нужна справка
								option(value="1") 2016
								option(value="2") 2017
								option(value="3") 2018
								option(value="4") 2019
					._block
						._area
							.input
								input(type="text" id="client_phone")
								label(for="client_phone") Телефон налогоплательщика
					._block
						._area
							select._select.js-select(name="centers")
								option(disabled selected) Центр, откуда планируете забирать справку
								option(value="1") Барнаул, Малахова, 146
								option(value="2") Барнаул, Мало-Олонская, 17
								option(value="3") Новосибирск, Крылова, 34
								option(value="4") Новосибирск, Немировича-Данченко, 165
					._block
						._area
							.input
								input(type="text" id="client_message")
								label(for="client_message") Комментарий
					.checkbox
						input(type="checkbox" id="checkbox_info")
						label(for="checkbox_info") Я согласен с политикой конфиденциальности и пользовательским соглашением
					a.btn(href="#") Отправить
			.client-form
				h3 Вакцинация юр. лица форма
				._blocks
					._input
						.input
							input(type="text" id="name_client" class="field")
							label(for="name_client") Ваше имя
					._input
						.input
							input(type="text" id="name_company" class="field")
							label(for="name_company") Название компании
					._input
						.input
							input(type="text" id="phone_client" class="field")
							label(for="phone_client") Телефон
					._input
						.input
							input(type="text" id="mail_client" class="field")
							label(for="mail_client") Электронный адрес
					._input
						.input
							input(type="text" id="message_client" class="field")
							label(for="message_client") Ваше сообщение
					.checkbox
						input(type="checkbox" id="checkbox_info2")
						label(for="checkbox_info2") Я согласен с политикой конфиденциальности и пользовательским соглашением
					a.btn(href="#") Отправить