extends ../views/layouts/default
block variables
	- var title = "Главная оптовикам"
	- var main = false;
	- var wholesale = true;
	
block content
	main
		.wholesale
			._banner
				.container
					span Оптовые поставки иммунобиологических препаратов, экспресс-тестов и изделий медицинского назначения для юридических лиц
			._hero
				.container
					.wholesale__hero-block
						span Регионы регулярных поставок
						a(href="#") Подробнее
						._point
							img(src="img/text.png", alt="")
			.reasons
				.container
					.reasons-block
						h2 7 причин, почему стоит обратиться в АСКО-Мед плюс
						.reasons-boxes
							.reasons-box
								.reasons-box__logo
									img(src="img/reas1.png", alt="")
								.reasons-text
									span.reasons-box__name Гарантия соблюдения «холодовой цепи»
									span.reasons-box__text Мы используем современные индикаторы температуры – эффективное средство экспресс-контроля соблюдения режима «холодовой цепи».
							.reasons-box
								.reasons-box__logo
									img(src="img/reas2.png", alt="")
								.reasons-text
									span.reasons-box__name Наличие ассортимента на своем складе
									span.reasons-box__text Всегда в наличии: вакцины, аллергены, иммуноглобулины,бактериофаги, анатоксины, сыворотки и изделия мед. назначения. Мы готовы в кратчайшие сроки собрать заказ и подготовить его к доставке.
							.reasons-box
								.reasons-box__logo
									img(src="img/reas3.png", alt="")
								.reasons-text
									span.reasons-box__name Мы знаем все детали своего дела
									span.reasons-box__text В нашей команде провизоры, врачи, экономисты, маркетологи, юристы, финансисты, логисты. Все эти разные люди объединены общей целью – обеспечить доставку качественных препаратов нашим клиентам даже в самых удаленных регионах России.
							.reasons-box
								.reasons-box__logo
									img(src="img/reas4.png", alt="")
								.reasons-text
									span.reasons-box__name Грамотная логистика
									span.reasons-box__text Вы получите заказ максимально быстро, ведь мы не накапливаем грузы для доставки по направлениям, а передаем их перевозчикам в день согласования заявки. Кстати, возможна доставка «до дверей»!
							.reasons-box
								.reasons-box__logo
									img(src="img/reas5.png", alt="")
								.reasons-text
									span.reasons-box__name Экономия вашего времени
									span.reasons-box__text Вы всегда сможете оперативно связаться с нами, любым удобным способом: — звонок персональному менеджеру, — запрос через сайт
							.reasons-box
								.reasons-box__logo
									img(src="img/reas6.png", alt="")
								.reasons-text
									span.reasons-box__name Индивидуальный подход к любым вопросам клиентов
									span.reasons-box__text Оказываем помощь и вновь открывающимся вакцинальным центрам, так и государственным и муниципальным ЛПУ. 
							.reasons-box
								.reasons-box__logo
									img(src="img/reas7.png", alt="")
								.reasons-text
									span.reasons-box__name Собственный автопарк
									span.reasons-box__text Наш курьер в фирменной жилетке и кепке бережно доставит ваш заказ.
			.chief
				.container
					.chief-block
						._info
							span Уважаемые коллеги!
							p Уже 23 года мы занимаемся оптовыми поставками иммунобиологических препаратов. За это время мы досконально изучили все детали и тонкости работы с вакцинами, сыворотками, имуноглобулинами. 
							p Для нас это стало делом жизни, делом от которого мы получаем удовлетворение. Удовлетворение от того, что наша работа помогает спасать детей и взрослых от страшных инфекций. Удовлетворение от причастности к развитию и успехам  наших постоянных и новых партнеров.
							p Наши термоконтейнеры бывали в разных уголках страны, но основные регионы поставок для нас — это Сибирь и Дальний Восток. Мы заработали имидж надежного партнера и поставщика. Нам доверяют поставку ИБП Министерства здравоохранения субъектов РФ, правоохранительные органы и силовые структуры, крупные холдинги, государственные и частные клиники. 
							p Наш приоритет – выстраивание долгосрочных отношений с партнерами. Для этого мы каждый день стараемся предложить оптимальные цены, удобные способы доставки и приятные условия работы.
							p Будем рады видеть вас в числе наших постоянных партнёров!
							p Сделайте заказ на поставку ИБП у нас и убедитесь в моих словах! А если это окажется не так, напишите мне на электронную почту: e.osipov@asko-med.ru и поделитесь своим впечатлением о нашей работе.
							._btns
								a(href="#").btn Подробнее
								a(href="#").btn Написать директору
						._photo
							img(src="img/photo-ceo.png", alt="")
			.company
				.container
					.company-block
						span._title О компании
						.company-content
							._box
								.reason
									.reason-slider
										.reason-slide
											span.reason-age 25
											span.reason-text лет работы
										.reason-slide
											span.reason-age 25
											span.reason-text лет работы
										.reason-slide
											span.reason-age 25
											span.reason-text лет работы
									.reason-slides
										span.reason-el 1
										span  / 3
								a(href="#").about-video
									<svg xmlns="http://www.w3.org/2000/svg" width="46" height="51" viewBox="0 0 46 51" fill="none">
										<path d="M43.8847 22.0228C46.5818 23.5564 46.5818 27.4436 43.8847 28.9772L6.47714 50.2472C3.81056 51.7634 0.499998 49.8375 0.499998 46.77L0.5 4.22999C0.5 1.16249 3.81056 -0.763433 6.47714 0.752791L43.8847 22.0228Z" fill="white"/>
									</svg>
									span смотреть видео о компании
							._box
								.about-slider
									ul#stack_wangi.stack.stack--wangi
										li.stack__item
											img(src="img/about-img1.png" alt="")
										li.stack__item
											img(src="img/about-img2.png" alt="")
										li.stack__item
											img(src="img/about-img1.png" alt="")
										li.stack__item
											img(src="img/about-img2.png" alt="")
										li.stack__item
											img(src="img/about-img1.png" alt="")
										li.stack__item
											img(src="img/about-img2.png" alt="")
									button.button.button--sonar.button--reject(data-stack="stack_wangi")
									button.button.button--sonar.button--accept(data-stack="stack_wangi")
			.news
				.container
					.news-block
						span._title Новости компании
						.news-boxes
							.news-box
								._image
									img(src="img/news1.jpg", alt="")
								._info
									span._data 7 сентября 2018
									span._name Дисконтная система в центрах «Аско-Мед»
									a(href="#")._btn.animBtn
										span Подробнее
										<svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
							.news-box
								._image
									img(src="img/news2.jpg", alt="")
								._info
									span._data 7 сентября 2018
									span._name Скидка на вакцинацию от гриппа продлена до 31 января
									a(href="#")._btn.animBtn
										span Подробнее
										<svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
						a._btn(href="#") Все новости
			.reviews
				._title
					.container
						span Отзывы
				._slider
					._slide
						.reviews-slide__image
							img(src="img/reviews1.jpg", alt="")
						.reviews-slide__info
							span ООО «Бочкаревский пивоваренный завод» 
							p Бочкаревский пивоваренный завод расположен в экологически чистом месте Алтайского края. Удаленность села Бочкари Целинного района от крупных городов и промышленных предприятий - 70 км.
							p Основные направления деятельности завода – производство и реализация натуральных напитков: пива, кваса, лимонадов, питьевых, минеральных и лечебно-столовых вод. Марочный портфель компании включает более 100 наименований высококачественных натуральных напитков.При производстве своей продукции «Бочкари» придерживаются классического способа.
							a(href="#").reviews-read.animBtn Читать далее
								<svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
					._slide
						.reviews-slide__image
							img(src="img/reviews1.jpg", alt="")
						.reviews-slide__info
							span ООО «Бочкаревский пивоваренный завод» 
							p Бочкаревский пивоваренный завод расположен в экологически чистом месте Алтайского края. Удаленность села Бочкари Целинного района от крупных городов и промышленных предприятий - 70 км.
							p Основные направления деятельности завода – производство и реализация натуральных напитков: пива, кваса, лимонадов, питьевых, минеральных и лечебно-столовых вод. Марочный портфель компании включает более 100 наименований высококачественных натуральных напитков.При производстве своей продукции «Бочкари» придерживаются классического способа.
							a(href="#").reviews-read.animBtn Читать далее
								<svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
					._slide
						.reviews-slide__image
							img(src="img/reviews1.jpg", alt="")
						.reviews-slide__info
							span ООО «Бочкаревский пивоваренный завод» 
							p Бочкаревский пивоваренный завод расположен в экологически чистом месте Алтайского края. Удаленность села Бочкари Целинного района от крупных городов и промышленных предприятий - 70 км.
							p Основные направления деятельности завода – производство и реализация натуральных напитков: пива, кваса, лимонадов, питьевых, минеральных и лечебно-столовых вод. Марочный портфель компании включает более 100 наименований высококачественных натуральных напитков.При производстве своей продукции «Бочкари» придерживаются классического способа.
							a(href="#").reviews-read.animBtn Читать далее
								<svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
					._slide
						.reviews-slide__image
							img(src="img/reviews1.jpg", alt="")
						.reviews-slide__info
							span ООО «Бочкаревский пивоваренный завод» 
							p Бочкаревский пивоваренный завод расположен в экологически чистом месте Алтайского края. Удаленность села Бочкари Целинного района от крупных городов и промышленных предприятий - 70 км.
							p Основные направления деятельности завода – производство и реализация натуральных напитков: пива, кваса, лимонадов, питьевых, минеральных и лечебно-столовых вод. Марочный портфель компании включает более 100 наименований высококачественных натуральных напитков.При производстве своей продукции «Бочкари» придерживаются классического способа.
							a(href="#").reviews-read.animBtn Читать далее
								<svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
					._slide
						.reviews-slide__image
							img(src="img/reviews1.jpg", alt="")
						.reviews-slide__info
							span ООО «Бочкаревский пивоваренный завод» 
							p Бочкаревский пивоваренный завод расположен в экологически чистом месте Алтайского края. Удаленность села Бочкари Целинного района от крупных городов и промышленных предприятий - 70 км.
							p Основные направления деятельности завода – производство и реализация натуральных напитков: пива, кваса, лимонадов, питьевых, минеральных и лечебно-столовых вод. Марочный портфель компании включает более 100 наименований высококачественных натуральных напитков.При производстве своей продукции «Бочкари» придерживаются классического способа.
							a(href="#").reviews-read.animBtn Читать далее
								<svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
					._slide
						.reviews-slide__image
							img(src="img/reviews1.jpg", alt="")
						.reviews-slide__info
							span ООО «Бочкаревский пивоваренный завод» 
							p Бочкаревский пивоваренный завод расположен в экологически чистом месте Алтайского края. Удаленность села Бочкари Целинного района от крупных городов и промышленных предприятий - 70 км.
							p Основные направления деятельности завода – производство и реализация натуральных напитков: пива, кваса, лимонадов, питьевых, минеральных и лечебно-столовых вод. Марочный портфель компании включает более 100 наименований высококачественных натуральных напитков.При производстве своей продукции «Бочкари» придерживаются классического способа.
							a(href="#").reviews-read.animBtn Читать далее
								<svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L5.51724 5L1 9" stroke="#005AA5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
			.faqs
				.container  
					.faqs-block
						span.faqs-title Часто задаваемые вопросы
						.faq-boxes
							.faq-box
								.faq-box__button
									.faq-box__plus
										img(src="img/plus.png", alt="")
									.faq-box__minus 
										img(src="img/minus.png", alt="")
									span.faq-box__name Мне подходит данный вариант вакцины, если мне уже больше 70 лет?
								.faq-box__content
									span Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.
							.faq-box
								.faq-box__button
									.faq-box__plus
										img(src="img/plus.png", alt="")
									.faq-box__minus 
										img(src="img/minus.png", alt="")
									span.faq-box__name Мне подходит данный вариант вакцины, если мне уже больше 70 лет?
								.faq-box__content
									span Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.
							.faq-box
								.faq-box__button
									.faq-box__plus
										img(src="img/plus.png", alt="")
									.faq-box__minus 
										img(src="img/minus.png", alt="")
									span.faq-box__name Мне подходит данный вариант вакцины, если мне уже больше 70 лет?
								.faq-box__content
									span Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.
							.faq-box
								.faq-box__button
									.faq-box__plus
										img(src="img/plus.png", alt="")
									.faq-box__minus 
										img(src="img/minus.png", alt="")
									span.faq-box__name Мне подходит данный вариант вакцины, если мне уже больше 70 лет?
								.faq-box__content
									span Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.
			.ask
				.container
					.ask-block
						._contacts
							span телефон
							a(href="#").ask-contacts__phone 8 800 555 8409
							span электронная почта
							a(href="#").ask-contacts__mail info@asko-med.ru
						form._form(action="#")
							span.ask-form__title Задать вопрос
							.input
								input(type="text" id="ask_name")
								label(for="ask_name") Ваше имя
							.input
								input(type="text" id="ask_phone" class="js-phone")
								label(for="ask_phone") Телефон
							.textarea
								textarea(id="ask_text")
								label(for="ask_text") Текст подсказка
							.checkbox
								input(type="checkbox" id="ask_checkbox")
								label(for="ask_checkbox") Я согласен с политикой конфиденциальности и пользовательским соглашением
							a.btn(href="#") Отправить
			.sub
				.container
					.sub-block
						.sub-box
							h3 Подпишитесь на акции и новости
							.sub-box__social
								span Или узнавайте новости в соцсетях
								a(href="#")
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="15" viewBox="0 0 24 15" fill="none">
										<path d="M23.043 1.74609C22.957 2.17578 22.6133 2.8776 22.0117 3.85156C21.4388 4.82552 20.9089 5.6849 20.4219 6.42969C19.9349 7.14583 19.6771 7.51823 19.6484 7.54688C19.4766 7.80469 19.3906 7.99089 19.3906 8.10547C19.3906 8.22005 19.4766 8.42057 19.6484 8.70703C19.6484 8.70703 19.7344 8.80729 19.9062 9.00781C20.1068 9.20833 20.3359 9.4375 20.5938 9.69531C20.8516 9.95312 21.138 10.2539 21.4531 10.5977C21.7682 10.9414 22.0547 11.2852 22.3125 11.6289C22.599 11.944 22.8424 12.2734 23.043 12.6172C23.2721 12.9609 23.4297 13.2474 23.5156 13.4766C23.7161 14.1927 23.4297 14.5508 22.6562 14.5508H20.1211C19.9206 14.5508 19.7487 14.5221 19.6055 14.4648C19.4622 14.4076 19.3047 14.3073 19.1328 14.1641C18.9609 14.0208 18.8034 13.8633 18.6602 13.6914C18.5169 13.5195 18.3021 13.276 18.0156 12.9609C17.7292 12.6458 17.4427 12.3451 17.1562 12.0586C16.0104 10.9701 15.1654 10.4258 14.6211 10.4258C14.2773 10.4258 14.0768 10.526 14.0195 10.7266C13.9622 10.9271 13.9336 11.5 13.9336 12.4453C13.9622 12.9036 13.9766 13.276 13.9766 13.5625C13.9766 13.9062 13.862 14.1641 13.6328 14.3359C13.4036 14.4792 12.9023 14.5508 12.1289 14.5508C10.7826 14.5508 9.42188 14.1497 8.04688 13.3477C6.67188 12.5456 5.46875 11.3997 4.4375 9.91016C3.46354 8.59245 2.64714 7.28906 1.98828 6C1.35807 4.68229 0.942708 3.67969 0.742188 2.99219C0.541667 2.30469 0.441406 1.81771 0.441406 1.53125C0.441406 1.04427 0.727865 0.800781 1.30078 0.800781H3.83594C4.15104 0.800781 4.38021 0.872396 4.52344 1.01562C4.69531 1.15885 4.83854 1.41667 4.95312 1.78906C5.55469 3.53646 6.28516 5.09766 7.14453 6.47266C8.03255 7.84766 8.70573 8.53516 9.16406 8.53516C9.33594 8.53516 9.45052 8.47786 9.50781 8.36328C9.59375 8.22005 9.63672 7.96224 9.63672 7.58984V3.85156C9.60807 3.45052 9.53646 3.10677 9.42188 2.82031C9.30729 2.53385 9.19271 2.33333 9.07812 2.21875C8.96354 2.07552 8.84896 1.93229 8.73438 1.78906C8.64844 1.64583 8.60547 1.51693 8.60547 1.40234C8.60547 1.28776 8.63411 1.1875 8.69141 1.10156C8.7487 1.01562 8.82031 0.94401 8.90625 0.886719C9.02083 0.829427 9.13542 0.800781 9.25 0.800781H13.2461C13.7044 0.800781 13.9336 1.11589 13.9336 1.74609V6.73047C13.9336 7.21745 14.0625 7.46094 14.3203 7.46094C14.6068 7.46094 15.0078 7.20312 15.5234 6.6875C16.0677 6.08594 16.5977 5.35547 17.1133 4.49609C17.6289 3.63672 18.0156 2.92057 18.2734 2.34766L18.6602 1.53125C18.8607 1.04427 19.2188 0.800781 19.7344 0.800781H22.2695C22.957 0.800781 23.2148 1.11589 23.043 1.74609Z" fill="#4C75A3"/>
									</svg>
								a(href="#")
									<svg xmlns="http://www.w3.org/2000/svg" width="13" height="23" viewBox="0 0 13 23" fill="none">
										<path d="M11.6133 13.0508H8.39062V22.6758H4.09375V13.0508H0.613281V9.05469H4.09375V6.04688C4.09375 4.90104 4.30859 3.92708 4.73828 3.125C5.16797 2.32292 5.76953 1.72135 6.54297 1.32031C7.34505 0.890625 8.26172 0.675781 9.29297 0.675781C9.7513 0.675781 10.2383 0.704427 10.7539 0.761719C11.2695 0.790365 11.6706 0.833333 11.957 0.890625L12.3867 0.933594V4.32812H10.668C9.86589 4.32812 9.27865 4.54297 8.90625 4.97266C8.5625 5.3737 8.39062 5.875 8.39062 6.47656V9.05469H12.2148L11.6133 13.0508Z" fill="#3C5A99"/>
									</svg>
						.sub-box.sub-box__input
							input(type="text" placeholder="Электронная почта")
							a(href="#").sub-btn Отправить
						.sub-box.sub-box__info
							span Известим об акциях и новинках в нашей компании. Не чаще 1 раза в неделю, и только полезное для вашего здоровья.
